<div class="container-fluid no-space">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card ">
        <div class="header">

          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Add New Project'|translate}}</strong> </font>
              </div>
            </div>
            <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button class="card-blue btn-style1 badge_danger">
                {{'back'|translate}}
              </button>
            </div>
          </div>
        </div>
        <form [formGroup]="addproject" (ngSubmit)="onSubmit()">
          <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
            <div class="body">
              <div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Project Title'|translate}}</label>
                  <input type="text" formControlName="project_title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.project_title.errors }">
                  <div *ngIf="submitted && f.project_title.errors" class="invalid-feedback">
                    <div *ngIf="f.project_title.errors.required">Project Title is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Project Description'|translate}}</label>
                  <input type="text" formControlName="project_description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.project_description.errors }">
                  <div *ngIf="submitted && f.project_description.errors" class="invalid-feedback">
                    <div *ngIf="f.project_description.errors.required">Project Description is required</div>
                  </div>
                </div>

                <!-- <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="dob" formControlName="dob" required app-validateAdult>
                  <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                  <mat-datepicker #dob></mat-datepicker>
                  <mat-error *ngIf="dob.hasError('required')">Your date of birth is required</mat-error>
              </mat-form-field> -->
                <div class="form-group col-md-4">
                  <label>{{'Project Start Date'|translate}}</label>
                  <input type="date" formControlName="project_start_date"  >

                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </label>
                  <div>
                    <input matInput [matDatepicker]="picker" formControlName="project_start_date" class="datepicker"
                      [ngClass]="{ 'is-invalid': submitted && f.project_description.errors }" (click)="picker.open() "
                      required app-validateAdult>



                  </div>
                  <div *ngIf="submitted && f.project_start_date.errors" class="invalid-feedback">
                      <div *ngIf="f.project_start_date.errors.required">Project start date is required</div>
                    </div> -->
                  <!-- <div *ngIf="(f.project_start_date.dirty || f.project_start_date.touched)" class="alert alert-danger">
                    <div *ngIf="f.project_start_date.errors">
                      Date is required.
                    </div>
                  </div> -->
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Project End Date'|translate}}</label>
                  <input type="date" formControlName="project_end_date"  >
                  <!-- <div *ngIf="(f.project_end_date.dirty || f.project_end_date.touched)" class="alert alert-danger">
                      <div *ngIf="f.project_end_date.errors">
                       Project end date is required.
                      </div>
                    </div> -->
                    <div *ngIf="submitted && f.project_end_date.errors" class="invalid-feedback">
                        <div *ngIf="f.project_end_date.errors.required">Project end date is required</div>
                      </div>
                    <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </label>
                  <div>
                    <input matInput [matDatepicker]="picker2" formControlName="project_end_date" class="datepicker"
                      (click)="picker2.open() " [ngClass]="{ 'is-invalid': submitted && f.project_end_date.errors }">
                  </div> -->
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Project Status'|translate}}</label>

                  <select class="slectbox" formControlName="project_status" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.project_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>Choose Project Status..</option>

                      <option value="completed">{{ 'Completed' |translate}}</option>
                      <option value="ongoing">{{ 'Ongoing' |translate}}</option>

                    </select>

                  <!-- <input type="text" formControlName="project_status" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.project_status.errors }"> -->
                  <div *ngIf="submitted && f.project_status.errors" class="invalid-feedback">
                    <div *ngIf="f.project_status.errors.required">Mention the project status</div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <input type="file" id="file" multiple (change)="getFileDetails($event)">
                    <img class="img-size" style=" width: 350px;" *ngFor='let url of urls' [src]="url"> <br />
                  </div>
                  
                </div>
                <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label class="form-file">
                      <img id="blah" src="{{ this.uploadimage }}"
                        onError="this.onerror=null;this.src='assets/images/project.jpeg'" />
                      <input type="file" id="pic" class="pis" (change)="fileChange($event)" accept="Image/*" />
                    </label>
                  </div>
                </div> -->
                <hr />
                <button type="submit" class="btn btn-primary btn-round mr-2">{{'Submit'|translate}}</button>
                <button type="button" [routerLink]="['/projects']"
                  class="btn btn-default btn-round btn-simple">{{'Cancel'|translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>