<div class="container-fluid no-space">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card ">
        <div class="header">

          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Add Achievement'|translate}}</strong> </font>
              </div>
            </div>
            <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button class="card-blue btn-style1 badge_danger">
                {{'back'|translate}}
              </button>
            </div>
           </div>                 
          </div>
        <form [formGroup]="addachievement" (ngSubmit)="onSubmit()">
          <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
            <div class="body">
              <div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Title'|translate}}</label>
                  <input type="text" formControlName="achievement_title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.achievement_title.errors }">
                  <div *ngIf="submitted && f.achievement_title.errors" class="invalid-feedback">
                    <div *ngIf="f.achievement_title.errors.required">Achievement Title is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Short Description'|translate}}</label>
                  <textarea rows="4" formControlName="achievement_short_description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.achievement_short_description.errors }"></textarea>
                  <div *ngIf="submitted && f.achievement_short_description.errors" class="invalid-feedback">
                    <div *ngIf="f.achievement_short_description.errors.required">Achievement Short Description is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Description'|translate}}</label>
                  <textarea rows="6" formControlName="achievement_description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.achievement_description.errors }"></textarea>
                  <div *ngIf="submitted && f.achievement_description.errors" class="invalid-feedback">
                    <div *ngIf="f.achievement_description.errors.required">Achievement Description is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Duration'|translate}}</label>
                  <input type="text" formControlName="achievement_duration" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.achievement_duration.errors }">
                  <div *ngIf="submitted && f.achievement_duration.errors" class="invalid-feedback">
                    <div *ngIf="f.achievement_duration.errors.required">Achievement Duration is required</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="form-file">
                      <img id="blah" src="{{ this.uploadimage }}" onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'"/>
                      <input type="file" id="pic" class="pis" (change)="fileChange($event)" accept="Image/*"/>
                    </label>
                  </div>
                </div>
                <hr />
                <button type="submit" class="btn btn-primary btn-round mr-2">{{'Submit'|translate}}</button>
                <button type="button" [routerLink]="['/achievements']"
                  class="btn btn-default btn-round btn-simple">{{'Cancel'|translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>