<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header">
      <font size="5"> <span></span><strong>{{'Event Details'|translate}}</strong> </font>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
      <button *ngIf="this.event_data.is_active == true" (click)="onDelete(this.event_data.event_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
      <button *ngIf="this.event_data.is_active == false" (click)="onDelete(this.event_data.event_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
        <button style="margin: 8px;" [routerLink]="['/editevent']" class="card-blue btn-style1 badge_danger">
          {{'Edit Event'|translate}}
        </button>
          <button style="margin: 8px;"class="card-blue btn-style1 badge_danger" (click)="backClicked()">
            {{'back'|translate}}
          </button>
    </div>
  </div>
</div>
<div class="table-container mat-elevation-z2 ">
  <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Event Title'|translate}} :</strong>
    {{this.event_data.event_title}}</p>
  <p style="padding-left:16px;"><strong>{{'Event Description'|translate}} :</strong>
    {{this.event_data.event_description}}</p>
  <p style="padding-left:16px;"><strong>{{'Event Start Date'|translate}} :</strong>
    {{this.event_data.event_start_date | date:'dd- MM-yyyy'}}</p>
    <p style="padding-left:16px;"><strong>{{'Event End Date'|translate}} :</strong>
      {{this.event_data.event_end_date | date:'dd- MM-yyyy'}}</p>
      <p style="padding-left:16px;"><strong>{{'Event Status'|translate}} :</strong>
        <a *ngIf="this.event_data.is_active ==true" >{{'Active'|translate}}</a>
                <a *ngIf="this.event_data.is_active == false" >{{'Deactive'|translate}}</a>
      </p>
      <p style="padding-left:16px;"><strong>{{'Contact Person Name'|translate}} :</strong>
        {{this.event_data.contact_person_name}}</p>
        <p style="padding-left:16px;"><strong>{{'Contact Number'|translate}} :</strong>
          {{this.event_data.contact_person_num}}</p>
          <p style="padding-left:16px;"><strong>{{'Taluk'|translate}} :</strong>
            {{this.event_data.taluk}}</p>
            <p style="padding-left:16px;"><strong>{{'District'|translate}} :</strong>
              {{this.event_data.district}}</p>
    <br>
  <div>
    <table>
      <tr>
        <td *ngFor="let image of this.event_data.event_images" style="padding: 40px;">
          <img onError="this.onerror=null;this.src='assets/images/project.jpeg'" style=" width:153px;height: 140px"
            src="{{image}}"></td>
      </tr>
    </table>
  </div>
</div>

