<div class="container-fluid">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card">
        <div class="header">

          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Edit Profile Details'|translate}}</strong> </font>
              </div>
            </div>

            <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button class="card-blue btn-style1 badge_danger">
                {{'back'|translate}}
              </button>
            </div>
           
        
          </div>
        </div>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>{{'Name'|translate}} : </label>
            <input type="text" formControlName="mla_name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mla_name.errors }">
            <div *ngIf="submitted && f.mla_name.errors" class="invalid-feedback">
              <div *ngIf="f.mla_name.errors.required">MLA Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{'Party Name'|translate}} : </label>
            <input type="text" formControlName="party_name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.party_name.errors }">
            <div *ngIf="submitted && f.party_name.errors" class="invalid-feedback">
              <div *ngIf="f.party_name.errors.required">Party name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{'Constituency Name'|translate}} : </label>
            <input type="text" formControlName="constituency_name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.constituency_name.errors }">
            <div *ngIf="submitted && f.constituency_name.errors" class="invalid-feedback">
              <div *ngIf="f.constituency_name.errors.required">Constituency name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label> {{'Address'|translate}} : </label>
            <input type="text" formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label>{{'Profile Description'|translate}} : </label>
            <textarea rows="2" formControlName="profile_description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.profile_description.errors }"></textarea>
            <div *ngIf="submitted && f.profile_description.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label>{{'Facebook Id'|translate}} : </label>
            <input type="text" formControlName="facebook_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.facebook_id.errors }">
            <div *ngIf="submitted && f.facebook_id.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label>{{'Mail-Id'|translate}} : </label>
            <input type="text" formControlName="mail_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mail_id.errors }">
            <div *ngIf="submitted && f.mail_id.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label>{{'Twitter Id'|translate}} : </label>
            <input type="text" formControlName="twitter_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.twitter_id.errors }">
            <div *ngIf="submitted && f.twitter_id.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label>{{'Linkedin Id'|translate}} : </label>
            <input type="text" formControlName="linkedin_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.linkedin_id.errors }">
            <div *ngIf="submitted && f.linkedin_id.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label>{{'Public Meeting Timings'|translate}} : </label>
            <input type="text" formControlName="public_meeting_timings" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.public_meeting_timings.errors }">
            <div *ngIf="submitted && f.public_meeting_timings.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label class="form-file">
              <img id="blah" src="{{this.uploadimage}}" style="width:200px;height:200px"
                onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'">
              <input type="file" id="pic" class="pis" (change)="fileChange($event)" #fileInput accept="Image/*">
            </label>
          </div>
          <hr>
          <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-round mr-2">{{'Save'|translate}}</button>
            <button type="submit" class="btn btn-default btn-round btn-simple"
              [routerLink]="['/mlaprofile']">{{'Cancel'|translate}}</button>
          </div>
        </form>


       
      </div>
    </div>
  </div>
</div>