
<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header" style="padding-bottom: 1px;">
      <font size="5"> <span></span><strong>{{'Banner Images'|translate}}</strong> </font>
      </div>
    </div>
   
<div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
  <!-- <button *ngIf="this.event_data.is_active == true" (click)="onDelete(this.event_data.event_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
  <button *ngIf="this.event_data.is_active == false" (click)="onDelete(this.event_data.event_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button> -->
    <button style="margin: 8px;" *ngIf="click_image" (click)="addimage()" class="card-blue btn-style1 badge_danger">
      {{'Add Image'|translate}}
    </button>
    <button style="margin: 8px;" *ngIf="image_submit" (click)="uploadimage()" class="card-blue btn-style1 badge_danger">
      {{'Upload Image'|translate}}
    </button>
      <button style="margin: 8px;" *ngIf="image_submit" class="card-blue btn-style1 badge_danger" (click)="backClicked()">
        {{'Cancel'|translate}}
      </button>
</div>
  </div>
</div>

<!-- 
<div *ngIf="images">
  <ul>
    <li *ngFor="let image of images_data">
          <img [src]="image" />
    </li>
  </ul> -->
  <!-- <div>
    <table>
      <tr>
        <td *ngFor="let image of images_data" style="padding: 40px;">
          <img  style=" width:153px;height: 140px"
            src="{{image}}"></td>
      </tr>
    </table>
  </div> -->

  <div *ngIf="addimage_file" class="col-sm-4">
    <div class="form-group">
      <input type="file" id="file" multiple (change)="getFileDetails($event)">
      <img class="img-size" style=" width: 350px;" *ngFor='let url of urls' [src]="url"> <br />
    </div>
  </div>
<div   class="card col-md-4" *ngFor="let image of images_data">
  <mat-card class="example-card mb-r">
    <mat-card-header>
      <div></div>
      <mat-card-title class="title"> </mat-card-title>

    </mat-card-header>
    <mat-card-content>
<div>
    <table>
        <tr>
          <td  style="padding: 40px;">
            <img  style=" width:153px;height: 140px;padding-left: 7px;"
              src="{{image}}"></td>
              <!-- <img class="img-size" *ngFor='let url of urls'  [src]="urls"> <br/> -->
        </tr>
      </table>
</div>

      </mat-card-content>
      <mat-card-actions class="mat-card-button">
        <button class="card-blue btn-style1 badge_danger" (click)="delete_image(image)">{{'Delete'|translate}}</button>       
      </mat-card-actions>
      </mat-card>
    </div>