<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <!-- <p>notification_title</p> -->
  <form [formGroup]="dialogform" >
    <p style="padding-left:16px;"><strong>{{'Notification Title'|translate}} :</strong>
    <input type="text" formControlName="notification_title">
    </p>
    <div *ngIf="submitted && f.notification_title.errors" class="invalid-feedback">
      <div *ngIf="f.notification_title.errors.required">title is required</div>
    </div>
    <p style="padding-left:16px;"><strong>{{'Notification Message'|translate}} :</strong>
      <textarea type="text" formControlName="notification_message"></textarea>
      </p>
      
      <button type="submit" class="btn btn-primary btn-round mr-2" (click)="onSubmit()" [disabled]="!dialogform.valid"
        > {{'Send'|translate}}</button>
      <button  type=""class="btn btn-default btn-round btn-simple"  (click)="onNoClick()" >{{'Cancel'|translate}}</button>
    </form>
</div>
