#blah{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50rem !important;
    margin-left: 5rem !important;

}
.slectbox{
    width: 84%; }

    .mat-raised-button {
        line-height: 20px
    }