
<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">
    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of Users' | translate}}</strong> </h2>
          </div>
        </div>

          <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r"
          >

          <button mat-raised-button  class="card-blue btn-style1 btn-size badge_warning" style="border-radius: 95px;;border: 1.2px solid#9c271c; color:#9c271c;" (click)="openAlluserdialog()">{{'Send Notification to All User' | translate}}</button>

            <button (click)="onopenHandled()" style="margin:5px;" class="card-blue btn-style1 badge_danger">
              {{'Filter' | translate}}
            </button>
            <button *ngIf="datatable" style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button>
            <button *ngIf="filtertable" style="margin:5px;" (click)="exceldatafilterimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button>
          </div>
      </div>
      <div>

        <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r " style="float: right;">
          <input type="text" (keyup)="applyFilter($event.target.value)" class="form-control input-radius  inputs-size mb-md-2"
            placeholder="{{'Search'|translate}}" />
        </div>
        </div>
        <div></div>



      <div *ngIf="filterformenable" >
        <mat-card class="filterform">

          <h4> {{'Filter Users' | translate }} </h4>
          <form [formGroup]="filterform" (ngSubmit)="userfilter()">
            <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
              <div class="body">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>{{ 'Select Status' |translate}} : </label>
                    <!-- <input type="text" formControlName="close_status" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                          <div *ngIf="submitted && f.close_status.errors" class="invalid-feedback">
                            <div *ngIf="f.close_status.errors.required">Filter is required</div>
                          </div> -->


                    <select class="slectbox" formControlName="is_active" placeholder="Choose Status" [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>Choose Status..</option>

                      <option value="true">{{ 'Active' |translate}}</option>
                      <option value="false">{{ 'Deactive' |translate}}</option>
                    </select>
                    <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                      <div *ngIf="f.is_active.errors.required">Status is required</div>
                    </div>
                  </div>


                  <div class="form-group col-md-4">
                    <label>{{ 'Select Gender' |translate}} : </label>
                    <!-- <input type="text" formControlName="close_status" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                            <div *ngIf="submitted && f.close_status.errors" class="invalid-feedback">
                              <div *ngIf="f.close_status.errors.required">Filter is required</div>
                            </div> -->


                    <select class="slectbox" formControlName="gender" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>Choose Gender..</option>

                      <option value="Male">{{ 'Male' |translate}}</option>
                      <option value="Female">{{ 'Female' |translate}}</option>
                      <option value="Other">{{ 'Other' |translate}}</option>

                      <!-- <option value="2">{{ 'Completed' |translate}}</option>
                        <option value="3">{{ 'In Process' |translate}}</option>
                        <option value="1">{{ 'Irrelevant' |translate}}</option> -->

                    </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">Gender is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>{{ 'Give Age' |translate}} :</label>
                    <input   class="slectbox" type="text" formControlName="age">
                    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                      <div *ngIf="f.age.errors.required">Age number is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label>{{ 'Select Marital Status' |translate}} : </label>
                    <select class="slectbox" formControlName="gender" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>Choose Marital Status..</option>
                     
                      <option value="Married">{{ 'Married' |translate}}</option>
                      <option value="UnMarried">{{ 'Unmarried' |translate}}</option>
                      <option value="Other">{{ 'other' |translate}}</option>

                    </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">Marital Status is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label>{{ 'Give Pincode' |translate}} :</label>

                    <input  class="slectbox" type="text" formControlName="pincode">

                    <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                      <div *ngIf="f.pincode.errors.required">Pincode number is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>{{ 'Select Blood Group' |translate}} : </label>
                    <select class="slectbox" formControlName="gender" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>Choose Blood Group..</option>
                     
                      <option value="A+" >A Positive</option>
                      <option value="A-" >A Negative</option>
                      <option value="A unknown" >A Unknown</option>
                      <option value="B+">B Positive</option>
                      <option value="B-">B Negative</option>
                      <option value="B unknown">B Unknown</option>
                      <option value="AB+" >AB Positive</option>
                      <option value="AB-">AB Negative</option>
                      <option value="AB unknown" >AB Unknown</option>
                      <option value="O+" >O Positive</option>
                      <option value="O-" >O Negative</option>
                      <option value="O unknown" >O Unknown</option>
                      <option value="unknown">Unknown</option>

                    </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">Marital Status is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label>{{ 'Give Ward Number' |translate}} :</label>

                    <input  class="slectbox" type="text" formControlName="ward_no">

                    <div *ngIf="submitted && f.ward_no.errors" class="invalid-feedback">
                      <div *ngIf="f.ward_no.errors.required">Ward number is required</div>
                    </div>
                  </div>


                </div>
                <div>
                  <button type="submit" class="btn btn-primary btn-round  mr-2"> {{'Submit' | translate}}</button>
                  <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                    {{'Close' | translate}}
                  </button>
                </div>
              </div>
            </div>

          </form>
        </mat-card>
      </div>


      <div style="display:none" #tableloadedvalue>
        <table [style.display]="hideElement?'none':'inherit'" mat-table [dataSource]="exceldata" matSort class="mat-elevation-z3">

          <!-- slno Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'S. No.' | translate}} </th>
            <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.user_id)"> {{i+1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.first_name}} </td>
          </ng-container>

          <!-- organization_name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Email'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.email}} </td>
          </ng-container>

          <!-- organization_name Column -->
          <!-- <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
      </ng-container> -->

          <!-- organization_name Column -->
          <ng-container matColumnDef="mobile_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Mobile No'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.mobile_number}} </td>
          </ng-container>


          <ng-container matColumnDef="marital_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Marital Status'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.marital_status}} </td>
          </ng-container>

          
          <!-- organization_name Column -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Age'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.age}} </td>
          </ng-container>
          
          <ng-container matColumnDef="blood_group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Blood Group'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.blood_group}} </td>
          </ng-container>

          <ng-container matColumnDef="pincode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Pincode'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.pincode}} </td>
          </ng-container>
          

          <ng-container matColumnDef="ward_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Ward Number'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.ward_no}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedexcelColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedexcelColumns;"></tr>
        </table>
      </div>



      <div style="display:none" #tablefilterloadedvalue>
        <table [style.display]="hideElement?'none':'inherit'" mat-table [dataSource]="filterdataSource" matSort class="mat-elevation-z3">

          <!-- slno Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'S. No.' | translate}} </th>
            <td mat-cell *matCellDef="let row; let i = index" (click)="toggleMenu(row.user_id)"> {{i+1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.first_name}} </td>
          </ng-container>

          <!-- organization_name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Email'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.email}} </td>
          </ng-container>

          <!-- organization_name Column -->
          <!-- <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
      </ng-container> -->

          <!-- organization_name Column -->
          <ng-container matColumnDef="mobile_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Mobile No'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.mobile_number}} </td>
          </ng-container>


          <ng-container matColumnDef="marital_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Marital Status'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.marital_status}} </td>
          </ng-container>

          
          <!-- organization_name Column -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Age'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.age}} </td>
          </ng-container>
          
          <ng-container matColumnDef="blood_group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Blood Group'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.blood_group}} </td>
          </ng-container>

          <ng-container matColumnDef="pincode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Pincode'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.pincode}} </td>
          </ng-container>
          

          <ng-container matColumnDef="ward_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Ward Number'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.user_id)"> {{row.ward_no}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedexcelColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedexcelColumns;"></tr>
        </table>
      </div>



      <div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">

          <!-- slno Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'S. No.' | translate}} </th>
            <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.user_id)"> {{i+1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.first_name}} </td>
          </ng-container>

          <!-- organization_name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Email'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.email}} </td>
          </ng-container>

          <!-- organization_name Column -->
          <!-- <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
      </ng-container> -->

          <!-- organization_name Column -->
          <ng-container matColumnDef="mobile_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Mobile No'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.mobile_number}} </td>
          </ng-container>

          <!-- organization_name Column -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Age'| translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.user_id)"> {{row.age}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action'| translate}} </th>
            <td mat-cell *matCellDef="let row">
              <button (click)="onView(row.user_id)" class="card-blue btn-style1 btn-size badge_warning">{{'View'|translate}}</button>
              <button mat-raised-button  class="card-blue btn-style1 btn-size badge_warning" style="border-radius: 95px;;border: 1.2px solid#9c271c; color:#9c271c;" (click)="openDialog(row.user_id)">{{'Send Notification' |translate}}</button>
              <button *ngIf="row.is_active == true" (click)="onDelete(row.user_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
              <button *ngIf="row.is_active == false" (click)="onDelete(row.user_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 70]"></mat-paginator>
    </div>


    <!-- view virtual details -->
    <div *ngIf="toggleenable" class="container-v" (click)="toggleclose()"></div>
    <div class="container fullcontainer card" [@slideInOut]="slideState">
      <div class="space"></div>
      <div class="header">
        <h2><strong style="color: black;">{{'User Details'|translate}}</strong> </h2>

      </div>
      <ul class="list-unstyled" *ngIf="toggleenable">
        <li>

          <label class="form-file">
            <img id="blah" src="{{userdata.profile_image}}" class="img-fluid" onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'">
          </label>
        </li>
        <li>
          <h5 class="mt-3">{{userdata.first_name}} {{userdata.father_name}} {{userdata.last_name}}</h5>
        </li>

        <li>
          <small class="text-muted">{{'Mail-Id'|translate}}: </small>
          <p>{{userdata.email}}</p>
        </li>
        <li>
          <small class="text-muted">{{'Contact No'|translate}}: </small>
          <p>{{userdata.mobile_number}}</p>
        </li>
        <!-- <li>
      <small class="text-muted">Username: </small>
      <p>{{userdata.username}}</p>
    </li> -->
        <li>
          <small class="text-muted">{{'Age'|translate}}: </small>
          <p>{{userdata.age}}</p>
        </li>
        <li>
          <small class="text-muted">{{'DOB'|translate}}: </small>
          <p>{{userdata.dob}}</p>
        </li>
        <li>
          <small class="text-muted">{{'Gender'|translate}}: </small>
          <p>{{userdata.gender}}</p>
        </li>
        <li>
          <small class="text-muted">{{'Marital Status'|translate}}: </small>
          <p>{{userdata.marital_status}}</p>
        </li>
        <li>
          <small class="text-muted">{{'Address'|translate}}: </small>
          <p>{{userdata.address}}</p>
        </li>
        <!-- <li>
      <small class="text-muted">Surname: </small>
      <p>{{userdata.surname}}</p>
    </li> -->
      </ul>
      <button type="button" (click)="toggleclose()" class="btn btn-primary btn-round mr-2 d-md-none">Close</button>
    </div>