<div class="table-container mat-elevation-z2 ">
  <div class="header">
    <div class="row form-inline">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="header">
          <font size="5"> <span></span><strong> {{'Profile Details'|translate}} </strong>  </font>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
            <button type="button" class="btn btn-danger" (click)="onedit(this.mla_profile.mla_profile_id)"> {{'Edit Profile'|translate}}</button>
               
            </div>
        </div>
    </div>
  <div class="row">

    <div class="col-sm-6">
      <div *ngIf="this.language!='' && this.language == 'tl'">
      <p  style="padding-left:16px;padding-top:16px;"><strong>{{'Name'|translate}} : </strong>
        {{this.mla_profile.mla_name_t}}</p>
      <p style="padding-left:16px;"><strong>{{'Party Name'|translate}} :</strong>
        {{this.mla_profile.party_name_t}}</p>
      <p style="padding-left:16px;"><strong>{{'Constituency Name'|translate}} :</strong>
        {{this.mla_profile.constituency_name_t}}</p>
      <p style="padding-left:16px;"><strong>{{'Address'|translate}} :</strong>
        {{this.mla_profile.address_t}}</p>

      <div style="padding-left:16px;">
        <h5><strong>{{'About Me'|translate}}</strong> </h5>
        <p style="font-size: 15px;">
          {{this.mla_profile.profile_description_t}}
        </p>
      </div>
    </div>

    <div *ngIf="this.language!='' && this.language == 'en'">
        <p  style="padding-left:16px;padding-top:16px;"><strong>{{'Name'|translate}} : </strong>
          {{this.mla_profile.mla_name}}</p>
        <p style="padding-left:16px;"><strong>{{'Party Name'|translate}} :</strong>
          {{this.mla_profile.party_name}}</p>
        <p style="padding-left:16px;"><strong>{{'Constituency Name'|translate}} :</strong>
          {{this.mla_profile.constituency_name}}</p>
        <p style="padding-left:16px;"><strong>{{'Address'|translate}} :</strong>
          {{this.mla_profile.address}}</p>
  
        <div style="padding-left:16px;">
          <h5><strong>{{'About Me'|translate}}</strong> </h5>
          <p style="font-size: 15px;">
            {{this.mla_profile.profile_description}}
          </p>
        </div>
      </div>
      <div style="padding-left:16px;">
        <h4><u>{{'@ Social'|translate}} </u></h4>
        <p style="font-size: 15px;">
          <i class="fa fa-facebook" style=" width: 17px;height: 20px;
      color: #FEFAFA ;
      background: #007bff;
      padding: 4px "></i><a href=" {{this.mla_profile.facebook_id}}">  {{this.mla_profile.facebook_id}}</a>
        
        </p>

        <p style="font-size: 15px;">
          <i class="fa fa-twitter" style=" width: 19px;height: 20px;
        color: #FEFAFA ;
        background: #69EEEE;
        padding: 2px "></i><a href="{{this.mla_profile.twitter_id}}"> {{this.mla_profile.twitter_id}}</a>
         
        </p>
        <p style="font-size: 15px;">
          <i class="fa fa-envelope" style=" width: 19px;height: 19px;
          color: #FEFAFA ;
          background: #726D6D ;
          padding: 2px "></i><a href="{{this.mla_profile.mail_id}}"> {{this.mla_profile.mail_id}}</a>
         
        </p>

        <!-- <p style="font-size: 15px;">
          <i class="fa fa-linkedin" style=" width: 19px;height: 20px;
            color: #FEFAFA ;
            background: #1796E4 ;
            padding: 4px "></i>
          {{this.mla_profile.linkedin_id}}
        </p> -->


        <p style="font-size: 15px;">
          <i class="fa fa-instagram" style=" width: 19px;height: 20px;
            color: #E91E63;
            background: #e91e634a; ;
            padding: 4px "></i><a href="{{this.mla_profile.instagram_id}}">{{this.mla_profile.instagram_id}}</a>
          
        </p>

        <p style="font-size: 15px;">
          <i class="fa fa-youtube-play" style=" width: 19px;height: 20px;
            font-size:20px;color:red;"></i><a href="{{this.mla_profile.youtube_id}}"> {{this.mla_profile.youtube_id}}</a>
        </p>
      </div>
    </div>

    <div class="col-sm-6" style="text-align:center;">
      <img style="width: 100%;padding-top: 40px; height: 230px;object-fit: contain;" src={{this.mla_profile.profile_image}} onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'">
      <!-- width: 100%;
      padding-top: 40px;
      object-fit: contain;
      height: 230px; -->
        <!-- <img style=" width: 200px;padding-top: 40px; height: 230px;" src={{this.mla_profile.profile_image}} onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'"> -->
       
      <br>



    </div>
  </div>
</div>
