<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header">
      <font size="5"> <span></span><strong>{{'News Details'|translate}}</strong> </font>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
      <button *ngIf="this.newsdata.is_active == true" (click)="onDelete(this.newsdata.news_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
      <button *ngIf="this.newsdata.is_active == false" (click)="onDelete(this.newsdata.news_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
  
        <button style="margin: 8px;" [routerLink]="['/editnews']" class="card-blue btn-style1 badge_danger">
          {{'Edit News'|translate}}
        </button>

          <button style="margin: 8px;"class="card-blue btn-style1 badge_danger" (click)="backClicked()">
            {{'back'|translate}}
          </button>

      
      
      
      
       
      
    </div>
    
  </div>
</div>
<div class="table-container mat-elevation-z2 ">
  <p style="padding-left:16px; padding-top: 16px;"><strong>{{'News Title'|translate}} :</strong>
    {{this.newsdata.news_title}}</p>
    <p style="padding-left:16px; padding-top: 16px;"><strong>{{'News Category'|translate}} :</strong>
      {{this.newsdata.news_category}}</p>
      <p style="padding-left:16px;"><strong>{{'News Reported On'|translate}} :</strong>
        {{this.newsdata.news_reported_on | date:'dd- MM-yyyy'}}</p>
  <p style="padding-left:16px;"><strong>{{'News Description'|translate}} :</strong>
    {{this.newsdata.news_description}}</p>
 
    <br>
  <div>
    <table>
      <tr>
        <td *ngFor='let url of urls' style="padding: 40px;">
          <img onError="this.onerror=null;this.src='assets/images/project.jpeg'" style=" width:153px;height: 140px"
            src="{{url}}"></td>
            <!-- <img class="img-size" *ngFor='let url of urls'  [src]="urls"> <br/> -->
      </tr>
    </table>
  </div>
</div>