
<div class="container-fluid">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card">
        <div class="header">
          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
               <font size="5"> <span></span><strong>{{'Edit News'|translate}}</strong> </font>
                      </div>
                  </div>
                  <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
                      <button  class="card-blue btn-style1 badge_danger">
                          {{'back'|translate}}
                      </button>
                  </div>
              </div>
          </div>
        <form [formGroup]="editnewsform" (ngSubmit)="onSubmit()">
          <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
            <div class="body">
              <div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Title'|translate}}</label>
                  <input type="text" formControlName="news_title" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.news_title.errors }">
                  <div *ngIf="submitted && f.news_title.errors" class="invalid-feedback">
                    <div *ngIf="f.news_title.errors.required">Title is required</div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label>{{'News Reported On'|translate}} : </label>
                  <input type="date" formControlName="news_reported_on" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.news_reported_on.errors }">
                  <div *ngIf="submitted && f.news_reported_on.errors" class="invalid-feedback">
                    <div *ngIf="f.news_reported_on.errors.required"> News reported is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">{{'News Category'|translate}}</label>
                <select class="form-control" formControlName="news_category" >
                    <option *ngFor="let item of news_status;" [value]="item.value"> {{item.viewValue|translate}}
                      </option>
                    <!-- <option [value]="department" [selected]="news_details.news_category ==department">Department</option>
                    <option [value]="assembly" [selected]="news_details.news_category ==assembly">Assembly</option>
                    <option [value]="media" [selected]="news_details.news_category ==media">Media</option>
                    <option [value]="party" [selected]="news_details.news_category ==party">Party</option> -->
                  </select>
                  <div *ngIf="submitted && f.news_category.errors" class="invalid-feedback">
                      <div *ngIf="f.news_category.errors.required">News Category is required</div>
                    </div>
                  </div>
  


                <div class="form-group col-md-4">
                  <label class="control-label">{{'Description'|translate}}:</label>
                  <textarea rows="6" formControlName="news_description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.news_description.errors }"></textarea>
                  <div *ngIf="submitted && f.news_description.errors" class="invalid-feedback">
                    <div *ngIf="f.news_description.errors.required">Description is required</div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="form-group" >
                  <input type="file" id="file" multiple (change)="getFileDetails($event)">  
                <div *ngIf="afterchange==false">
                  <img  class="img-size" style=" width: 350px;" *ngFor='let url of urls' [src]="url"> <br /></div>
                  <div *ngIf="afterchange==true" >
                  <img class="img-size"  style=" width: 350px;" *ngFor='let url of urldata' [src]="url"> <br /></div>
    
                    
                    <!-- <input type="file" id="file" multiple (change)="getFileDetails($event)">  
                    <div *ngFor='let url of urls'>
                     <img class="img-size"   [src]="url"> -->
                    <!-- <button class="topicon" (click)="removeimage(url)"> <mat-icon class="sidenav-icon">clear</mat-icon></button><br/> -->
                    <!-- </div> -->
                  </div> 

                </div>
                <hr/>
                <button type="submit" class="btn btn-primary btn-round mr-2">{{'Save'|translate}}</button>
                <button type="submit" class="btn btn-default btn-round btn-simple"
                        [routerLink]="['/news']">{{'Cancel'|translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
