<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">
    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of Party Workers' | translate }}</strong> </h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
            <button  (click)="onopenHandled()" class="card-blue btn-style1 badge_danger">
                {{'Filter' | translate}}
              </button>
         
          <button  style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button>
            <button style="margin:5px;" [routerLink]="['/addpartyworker']" class="card-blue btn-style1 badge_danger">
              {{'Add party worker'|translate}}
            </button>
            <!-- <button *ngIf="filtertable" style="margin:5px;" (click)="exceldatafilterimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button> -->
        </div>
      </div>
      <div>
        <div>
        <!-- <input type="text" (keyup)="applyFilter($event.target.value)"
        class="form-control input-radius  inputs-size mb-md-2" placeholder="{{'Search'|translate}}" /> -->
        </div>
      </div>


      <div *ngIf="filterformenable">
        <mat-card class="filterform">
        
          <h4> {{'Filter Party Worker' | translate }} </h4>
          <form [formGroup]="filterform" (ngSubmit)="partyworkerfilter()">
            <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
              <div class="body">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label class="control-label">{{'Select Worker  Type'| translate}} :</label>
                    <select class="slectbox" formControlName="worker_type" style="width:55%;" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.worker_type.errors }" (change)="selectworktype($event)">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>{{'Choose Worker Type' | translate}}..</option>
                      <!-- <option *ngFor="let item of deptlist;" [value]="item.department"> {{item.department|translate}}
                      </option> -->
                      <option value="Youth Member">{{ 'Youth Member' |translate}}</option>
                    <option value="Women Member">{{ 'Woman Member' |translate}}</option>
                    <option value="Panchayat">{{ 'Panchayat / Ward Member ' |translate}}</option>
  
  
                    </select>
                    <div *ngIf="submitted && f.worker_type.errors" class="invalid-feedback">
                      <div *ngIf="f.worker_type.errors.required">Worker type is required</div>
                    </div>
                  </div>

                   <div *ngIf="ageselect" class="form-group col-md-4" >
                    <label class="control-label">{{'Select Age Range'| translate}} :</label>
                    <select class="slectbox" formControlName="age" style="width:55%;" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.age.errors }" >
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>{{'Choose Age Range' | translate}}..</option>
                      <!-- <option *ngFor="let item of deptlist;" [value]="item.department"> {{item.department|translate}}
                      </option> -->
                      <option value="18-25">18-25</option>
                    <option value="25-30">25-30</option>
                    <option value="30-40">30-40</option>
  
  
                    </select>
                    <!-- <div *ngIf="submitted && f.worker_type.errors" class="invalid-feedback">
                      <div *ngIf="f.worker_type.errors.required">Worker type is required</div>
                    </div> -->
                  </div>

                  <div class="form-group col-md-4">
                    <label class="control-label">{{'Select District'| translate}} :</label>
                    <select class="slectbox" formControlName="district" 
                    placeholder="Choose showFirstLastButtons" (change)="loadTaluk($event)"
                      [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
                      <option value="" disabled selected>{{'Choose District' | translate}}..</option>
                      <option *ngFor="let district of district_list" [value]="district.name">{{district.name}}</option>
  
                      <!-- <option value="Bangalore">{{ 'Bangalore' |translate}}</option>
                      <option value="Kolara">{{ 'Kolara' |translate}}</option>
                      <option value="koppala">{{ 'Koppala' |translate}}</option> -->
                    </select>
                    <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                      <div *ngIf="f.district.errors.required">District  is required</div>
                    </div>

                    </div>

                
                  <div class="form-group col-md-4">
                    <label class="control-label">{{'Select Taluk'| translate}} :</label>
                    <select class="slectbox" formControlName="taluk"  placeholder="Choose showFirstLastButtons"
                          [ngClass]="{ 'is-invalid': submitted && f.taluk.errors }" (change)="loadPanchayat($event)" >
                          <option value="" disabled selected>{{'Choose Taluk' | translate}}..</option>
                          <option *ngFor="let data of taluk_list" [value]="data.name">{{data.name}}</option>
                          <!-- <option value="Anekal">{{ 'Anekal' |translate}}</option>
                          <option value="Bangalore North">{{ 'Bangalore North' |translate}}</option>
                          <option value="Bangalore South">{{ 'Bangalore South' |translate}}</option>
                          <option value="Bangalore East">{{ 'Bangalore East' |translate}}</option> -->
                        </select>
                    <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                      <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                    </div>
                  </div>
  
                  <div  class="form-group col-md-4">
                    <label class="control-label">{{'Select Ward'| translate}} :</label>
                    <select class="slectbox" formControlName="panchayath_ward"  placeholder="Choose showFirstLastButtons"
                    [ngClass]="{ 'is-invalid': submitted && f.panchayath_ward.errors }" (change)="upDatepin($event)">
                    <option value="" disabled selected>{{'Choose Ward' | translate}}..</option>
                     <option *ngFor="let warddata of ward_list" [value]="warddata.name">{{ warddata.name}}</option>

                    <!-- <option value="Anekal">{{ 'Anekal' |translate}}</option>
                    <option value="Bangalore North">{{ 'Bangalore North' |translate}}</option>
                    <option value="Bangalore South">{{ 'Bangalore South' |translate}}</option>
                    <option value="Bangalore East">{{ 'Bangalore East' |translate}}</option> -->

                  </select>
                    <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                      <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                    </div>
                  </div>

                

                    <div class="form-group col-md-4">
                      <label class="control-label">{{'PIN code'| translate}} : </label>
                      <input type="text" formControlName="pincode"  class="width" 
                       [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"    maxlength="06"(keypress)="numberOnly($event)">
                      <!-- <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback" >
                        <div *ngIf="f.pincode.errors.required">Pin code is required</div>
                      </div> -->
                    </div>


                  <div class="form-group col-md-4">
                    <label class="control-label">{{'Select Gender'| translate}} :</label>
                    <select class="slectbox" formControlName="gender" class="width" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                      <option value="" disabled selected>{{'Choose Gender' | translate}}..</option>
                      <option value="Male">{{ 'Male' |translate}}</option>
                      <option value="Female">{{ 'Female' |translate}}</option>
                      <option value="Other">{{ 'Other' |translate}}</option>

  
                    </select>
                    <!-- <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                      <div *ngIf="f.district.errors.required">District  is required</div>
                    </div> -->

                    </div>
                </div>
      
                  <div>
                    <button type="submit" class="btn btn-primary btn-round mr-2"> {{'Submit' | translate}}</button>
                    <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                      {{'Close' | translate}}
                    </button>
                  </div>
              </div>
            </div>
      
          </form>
        </mat-card>
        </div>

        <div style="display:none" #tableloadedvalue>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th> 
              <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.party_worker_id)"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}} </th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{ (row.name.length>25)? (row.name | slice:0:25)+'..':(row.name) }}</td>
            </ng-container>
            <ng-container matColumnDef="phone_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Phone Number' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.phone_number}}
              </td>
            </ng-container>
            <ng-container matColumnDef="alternative_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Alternative number' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.alternative_number}}
              </td>
            </ng-container>
            <ng-container matColumnDef="party_worker_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Party Worker Type' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.party_worker_type}}
              </td>
            </ng-container>
            
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Email' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.email}}
              </td>
            </ng-container>

            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Gender' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.gender}}
              </td>
            </ng-container>
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'DOB' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.DOB}}
              </td>
            </ng-container>
     
            <ng-container matColumnDef="ward">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Ward' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.panchayath_ward}}
              </td>
            </ng-container>
            <ng-container matColumnDef="taluk">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Taluk' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.taluk}}
              </td>
            </ng-container>
            <ng-container matColumnDef="district">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'District' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
                {{row.district}}
              </td>
            </ng-container>
         
            <tr mat-header-row *matHeaderRowDef="displayedExcelColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedExcelColumns;"></tr>
          </table>
          </div>



      <div>
        <table mat-table [dataSource]="dataSource" matSort  (matSortChange)="sortData($event)" class="mat-elevation-z3">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th> 
            <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.party_worker_id)"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}} </th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
              {{ (row.name.length>25)? (row.name | slice:0:25)+'..':(row.name) }}</td>
          </ng-container>
          <ng-container matColumnDef="phone_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Phone Number' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
              {{row.phone_number}}
            </td>
          </ng-container>
          <ng-container matColumnDef="party_worker_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Party Worker Type' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
              {{row.party_worker_type}}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="taluk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Taluk' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
              {{row.taluk}}
            </td>
          </ng-container>
   
          <ng-container matColumnDef="ward">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Ward' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
              {{row.panchayath_ward}}
            </td>
          </ng-container>
          <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'District' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.party_worker_id)">
              {{row.district}}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let row">
              <button class="card-blue  btn-style1 btn-size badge_success" (click)="onEdit(row.party_worker_id)">{{'Edit'|translate}}</button>
              <button class="card-blue btn-style1 btn-size  badge_warning"
              (click)="onView(row.party_worker_id)">{{'View'|translate}}</button>
              <!-- <button (click)="toggleMenu(row.news_id)"
                class="card-blue btn-style1 btn-size badge_warning">{{'View'|translate}}</button> -->
              <button *ngIf="row.is_active == true" (click)="onDelete(row.party_worker_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
              <button *ngIf="row.is_active == false" (click)="onDelete(row.party_worker_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 70]"></mat-paginator>
    </div>
  