<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">
    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of Departments' | translate }}</strong> </h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
            <button  (click)="onopenHandled()" class="card-blue btn-style1 badge_danger">
                {{'Filter' | translate}}
              </button>
         
          <button  style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button>
            <button style="margin:5px;" [routerLink]="['/adddepartment']" class="card-blue btn-style1 badge_danger">
              {{'Add Department'|translate}}
            </button>
            <!-- <button *ngIf="filtertable" style="margin:5px;" (click)="exceldatafilterimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button> -->
        </div>
      </div>
      <div>
        <div>
        <!-- <input type="text" (keyup)="applyFilter($event.target.value)"
        class="form-control input-radius  inputs-size mb-md-2" placeholder="{{'Search'|translate}}" /> -->
        </div>
      </div>


      <div *ngIf="filterformenable">
          <mat-card class="filterform">
        
            <h4 style="padding-bottom: 9px;"> {{'Filter Department' | translate }} </h4>
            <form [formGroup]="filterform" (ngSubmit)="dept_filter()">
              <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div class="body">
                  <div class="row">
                    <div class="form-group col-md-4">
                        <label>{{ 'Department Type' |translate}} : </label>
                        <select class="datepicker slectcategory" formControlName="department_type" placeholder="Choose showFirstLastButtons"
                          [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                          <option value="" disabled selected>Choose department type..</option>
                          <option *ngFor="let item of deptdatalist;" [value]="item.department_type"> {{item.department_type|translate}}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.department_type.errors" class="invalid-feedback">
                          <div *ngIf="f.department_type.errors.required">Department type is required</div>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label>{{'Select District'| translate}} :</label>
                        <select class="slectbox" formControlName="district"  
                        placeholder="Choose showFirstLastButtons" (change)="loadTaluk($event)"
                          [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
                          <option value="" disabled selected>{{'Choose District' | translate}}..</option>
                          <option *ngFor="let district of district_list" [value]="district.name">{{district.name}}</option>
      
                          <!-- <option value="Bangalore">{{ 'Bangalore' |translate}}</option>
                          <option value="Kolara">{{ 'Kolara' |translate}}</option>
                          <option value="koppala">{{ 'Koppala' |translate}}</option> -->
                        </select>
                        <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                          <div *ngIf="f.district.errors.required">District  is required</div>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label >{{'Select Taluk'| translate}} :</label>
                        <select class="slectbox" formControlName="taluk"  placeholder="Choose showFirstLastButtons"
                          [ngClass]="{ 'is-invalid': submitted && f.taluk.errors }" (change)="loadPanchayat($event)" >
                          <option value="" disabled selected>{{'Choose Taluk' | translate}}..</option>
                          <option *ngFor="let data of taluk_list" [value]="data.name">{{data.name}}</option>
                          <!-- <option value="Anekal">{{ 'Anekal' |translate}}</option>
                          <option value="Bangalore North">{{ 'Bangalore North' |translate}}</option>
                          <option value="Bangalore South">{{ 'Bangalore South' |translate}}</option>
                          <option value="Bangalore East">{{ 'Bangalore East' |translate}}</option> -->
                        </select>
                        <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                          <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                        </div>
                      </div>
      
      
                      <div  class="form-group col-md-4">
                        <label>{{'Select Ward'| translate}} :</label>
                        <select class="slectbox" formControlName="panchayath_ward"  placeholder="Choose showFirstLastButtons"
                          [ngClass]="{ 'is-invalid': submitted && f.panchayath_ward.errors }" (change)="upDatepin($event)">
                          <option value="" disabled selected>{{'Choose Ward' | translate}}..</option>
                           <option *ngFor="let warddata of ward_list" [value]="warddata.name">{{ warddata.name}}</option>
      
                          <!-- <option value="Anekal">{{ 'Anekal' |translate}}</option>
                          <option value="Bangalore North">{{ 'Bangalore North' |translate}}</option>
                          <option value="Bangalore South">{{ 'Bangalore South' |translate}}</option>
                          <option value="Bangalore East">{{ 'Bangalore East' |translate}}</option> -->
      
                        </select>
                        <!-- <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                          <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                        </div> -->
                      </div>
                  


                <div class="form-group col-md-4">
                  <label class="control-label">{{'PIN code'| translate}} : </label>
                  <input type="text" formControlName="pincode"  class="width" 
                   [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"    maxlength="06"(keypress)="numberOnly($event)">
                  <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback" >
                    <div *ngIf="f.pincode.errors.required">Pin code is required</div>
                  </div>
                </div>
                  </div>
        
                    <div>
                      <button type="submit" class="btn btn-primary btn-round mr-2"> {{'Submit' | translate}}</button>
                      <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                        {{'Close' | translate}}
                      </button>
                    </div>
                </div>
              </div>
        
            </form>
          </mat-card>
        </div>

        <div style="display:none" #tableloadedvalue>
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th> 
              <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.dept_id)"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="dept_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Department Type' | translate}} </th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.dept_id)">
                {{ (row.department.length>25)? (row.department | slice:0:25)+'..':(row.department) }}</td>
            </ng-container>
            <ng-container matColumnDef="email_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Email id' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.dept_id)">
                {{row.email}}
              </td>
            </ng-container>
            <ng-container matColumnDef="phone_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Phone Number' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.dept_id)">
                {{row.phone_number}}
              </td>
            </ng-container>
            <ng-container matColumnDef="alernative_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Alternative phonenumber' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.dept_id)">
                {{row.alternative_number}}
              </td>
            </ng-container>
            <ng-container matColumnDef="contact_person">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Contact Person' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.dept_id)">
                {{row.contact_person}}
              </td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Address' | translate}}</th>
              <td mat-cell *matCellDef="let row" (click)="onView(row.dept_id)">
                {{row.address}}
              </td>
            </ng-container>
           
           
            <tr mat-header-row *matHeaderRowDef="displayedExcelColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedExcelColumns;"></tr>
          </table>
          </div>



      <div>
        <table mat-table [dataSource]="dataSource" matSort   (matSortChange)="sortData($event)" class="mat-elevation-z3">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th> 
            <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.department_contact_id)"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Department Type' | translate}} </th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.department_contact_id)">
              {{ (row.department.length>25)? (row.department | slice:0:25)+'..':(row.department) }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Email id' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.department_contact_id)">
              {{row.email}}
            </td>
          </ng-container>
          <ng-container matColumnDef="phone_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Phone Number' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.department_contact_id)">
              {{row.phone_number}}
            </td>
          </ng-container>
          <ng-container matColumnDef="contact_person">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Contact Person' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.department_contact_id)">
              {{row.contact_person}}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let row">
              <button class="card-blue  btn-style1 btn-size badge_success" (click)="onEdit(row.department_contact_id)">{{'Edit'|translate}}</button>
              <button class="card-blue btn-style1 btn-size  badge_warning"
              (click)="onView(row.department_contact_id)">{{'View'|translate}}</button>
              <!-- <button (click)="toggleMenu(row.news_id)"
                class="card-blue btn-style1 btn-size badge_warning">{{'View'|translate}}</button> -->
              <button *ngIf="row.is_active == true" (click)="onDelete(row.department_contact_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
              <button *ngIf="row.is_active == false" (click)="onDelete(row.department_contact_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 70]"></mat-paginator>
    </div>
  