<div class="container-fluid no-space">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card ">
        <div class="header">

          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Add New Event'|translate}}</strong> </font>
              </div>
            </div>
            <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button class="card-blue btn-style1 badge_danger">
                {{'back'|translate}}
              </button>
            </div>
          </div>
        </div>
        <form [formGroup]="addevent" (ngSubmit)="onSubmit()">
          <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
            <div class="body">
              <div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Event Title'|translate}}</label>
                  <input type="text" formControlName="event_title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.event_title.errors }">
                  <div *ngIf="submitted && f.event_title.errors" class="invalid-feedback">
                    <div *ngIf="f.event_title.errors.required">Event Title is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Event Description'|translate}}</label>
                  <input type="text" formControlName="event_description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.event_description.errors }">
                  <div *ngIf="submitted && f.event_description.errors" class="invalid-feedback">
                    <div *ngIf="f.event_description.errors.required">Event Description is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Event Start Date'|translate}}</label>
                  <input type="date" formControlName="event_start_date" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.event_start_date.errors }">
                  <div *ngIf="submitted && f.event_start_date.errors" class="invalid-feedback">
                    <div *ngIf="f.event_start_date.errors.required">Event Start date is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Event End Date'|translate}}</label>
                  <input type="date" formControlName="event_end_date" class="form-control"
                    >
                </div>
                
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Contact Person Name'|translate}}</label>
                  <input type="text" formControlName="contact_person_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.contact_person_name.errors }">
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Contact Person Number'|translate}}</label>
                  <input maxlength="10" type="text" formControlName="contact_person_num" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.contact_person_num.errors }">
                    <div *ngIf="submitted && f.contact_person_num.errors" class="invalid-feedback">
                      <div *ngIf="f.contact_person_num.errors.required">mobile no is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label class="control-label">{{'Taluk'|translate}}</label>
                    <input type="text" formControlName="taluk" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.taluk.errors }">
                  </div>

                  <div class="form-group col-md-4">
                    <label class="control-label">{{'District'|translate}}</label>
                    <input type="text" formControlName="district" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
                  </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input type="file" id="file" multiple (change)="getFileDetails($event)">
                    <img class="img-size" style=" width: 350px;" *ngFor='let url of urls' [src]="url"> <br />
                  </div>
                  
                </div>
                <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label class="form-file">
                      <img id="blah" src="{{ this.uploadimage }}"
                        onError="this.onerror=null;this.src='assets/images/project.jpeg'" />
                      <input type="file" id="pic" class="pis" (change)="fileChange($event)" accept="Image/*" />
                    </label>
                  </div>
                </div> -->
                <hr />
                <button type="submit" class="btn btn-primary btn-round mr-2">{{'Submit'|translate}}</button>
                <button type="button" [routerLink]="['/events']"
                  class="btn btn-default btn-round btn-simple">{{'Cancel'|translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>