<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header">
      <font size="5"> <span></span><strong>{{'User Details'|translate}}</strong> </font>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
        <button *ngIf="this.userdata.is_active == true" (click)="onDelete(this.userdata.user_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
        <button *ngIf="this.userdata.is_active == false" (click)="onDelete(this.userdata.user_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
      <button style="margin: 8px;" (click)="backClicked()"  class="card-blue btn-style1 badge_danger">
        {{'back'|translate}}
      </button>
    </div>
  </div>
</div>
<div class="table-container mat-elevation-z2 ">
    <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Name'|translate}} : </strong>
      {{this.userdata.first_name}} {{this.userdata.last_name}}</p>
    <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Mail-Id'|translate}} : </strong>
      {{this.userdata.email}}</p>


 
  <p style="padding-left:16px;"><strong>{{'Contact No'|translate}} : </strong>
    {{this.userdata.mobile_number}}</p>
  <!-- <p style="padding-left:16px;"><strong>{{'Date of meeting'|translate}} :</strong>
    {{this.meeting_list.day_of_meeting | date : "dd-MM-yyyy"}}</p>
  <p style="padding-left:16px;"><strong>{{'Time of meeting'|translate}} :</strong>
    {{this.meeting_list.time_of_meet}}</p>
  <p style="padding-left:16px;"><strong>{{'Duration of meeting'|translate}} :</strong>
    {{this.meeting_list.meeting_duration}}</p> -->
  <!-- <div style="padding-left:16px;">
    <h6><u><strong>
          {{'Age'|translate}} :
      </strong></u></h6>
  </div> -->

  <p style="padding-left:16px;"><strong>{{'Age'|translate}} :</strong>
    {{this.userdata.age}}</p>
  <p style="padding-left:16px;"><strong>{{'DOB'|translate}} :</strong>
    {{this.userdata.dob}}</p>
    <p style="padding-left:16px;"><strong>{{'Gender'|translate}} :</strong>
      {{this.userdata.gender}}</p>
      <p style="padding-left:16px;"><strong>{{'Blood Group'|translate}} :</strong>
        {{this.userdata.blood_group}}</p>
      <p style="padding-left:16px;"><strong>{{'Marital Status'|translate}} :</strong>
       {{this.userdata.marital_status}}</p>
       <p style="padding-left:16px;"><strong>{{'Ward Number'|translate}} :</strong>
        {{this.userdata.ward_no}}</p>
         <p style="padding-left:16px;"><strong>{{'Address'|translate}} :</strong>
           {{this.userdata.address}}</p>
  <br>


  
  <div>
    <table>
      <tr>
        <td  style="padding: 40px;">
          <img onError="this.onerror=null;this.src='assets/images/project.jpeg'" style=" width:153px;height: 140px"
            src="{{this.userdata.profile_image}}"></td>
      </tr>
    </table>
  </div>
</div>