<div class="container-fluid no-space">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card ">
        <div class="header">
          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Add'| translate}}</strong> {{'Department'| translate}} </font>
              </div>
            </div>
            <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button class="card-blue btn-style1 badge_danger">
                {{'back'| translate}}
              </button>
            </div>
          </div>
        </div>
        <form [formGroup]="adddeptform" (ngSubmit)="onSubmit()">
          <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
            <div class="body">
              <div>

                <div class="form-group col-md-4">
                  <label class="control-label">{{'Select Department Type'| translate}}</label>
                  <select class="slectbox" formControlName="dept_type" class="form-control" placeholder="Choose showFirstLastButtons"
                    [ngClass]="{ 'is-invalid': submitted && f.dept_type.errors }">
                    <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                    <!-- <option value="" disabled selected>{{'Choose Department Type' | translate}}..</option> -->
                    <option *ngFor="let item of deptlist;" [value]="item.department_type"> {{item.department_type|translate}}
                    </option>
                    <!-- <option value="electricity">{{ 'Electricity' |translate}}</option>
                    <option value="water">{{ 'Water' |translate}}</option> -->
                 

                  </select>
                  <div *ngIf="submitted && f.dept_type.errors" class="invalid-feedback">
                    <div *ngIf="f.dept_type.errors.required">Description is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Email Id'| translate}}</label>
                  <input type="text" formControlName="email_id" class="form-control"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   [ngClass]="{ 'is-invalid': submitted && f.email_id.errors }">
                  <div *ngIf="submitted && f.email_id.errors" class="invalid-feedback">
                    <div style="color:red;" *ngIf="f.email_id.errors.required">Email id is required</div>
                    <div *ngIf="f.email_id.errors.pattern">Email must be a valid email address</div>

                  </div>

                
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Phone Number'| translate}}</label>
                  <input type="text" formControlName="phone_number"  class="form-control" 
                   [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }"  pattern="^[6-9]\d{9}$"  maxlength="10"(keypress)="numberOnly($event)">
                  <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback" >
                    <div *ngIf="f.phone_number.errors.required">Phone number is required</div>
                    <div *ngIf="f.phone_number.errors?.pattern">Number must be a valid phone number</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Alternative Phone Number'| translate}}</label>
                  <input type="text" formControlName="alternative_number" class="form-control"  maxlength="10" (keypress)="numberOnly($event)"
                  >

                  <!-- <div *ngIf="submitted && f.alternative_number.errors" class="invalid-feedback">
                    <div *ngIf="f.alternative_number.errors.required">number is required</div>
                  </div> -->
                </div>

                <div class="form-group col-md-4">
                  <label class="control-label">{{'Contact Person'| translate}}</label>
                  <input type="text" formControlName="contact_person" class="form-control"  
                  >

                  <!-- <div *ngIf="submitted && f.alternative_number.errors" class="invalid-feedback">
                    <div *ngIf="f.alternative_number.errors.required">number is required</div>
                  </div> -->
                </div>

                <div class="form-group col-md-4">
                  <label class="control-label">{{'Address'| translate}}</label>
                  <textarea rows="6" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">{{'Select District'| translate}} :</label>
                  <select class="slectbox" formControlName="district" class="form-control width" 
                  placeholder="Choose showFirstLastButtons" (change)="loadTaluk($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
                    <option value="" disabled selected>{{'Choose District' | translate}}..</option>
                    <option *ngFor="let district of district_list" [value]="district.name">{{district.name}}</option>

                    <!-- <option value="Bangalore">{{ 'Bangalore' |translate}}</option>
                    <option value="Kolara">{{ 'Kolara' |translate}}</option>
                    <option value="koppala">{{ 'Koppala' |translate}}</option> -->
                  </select>
                  <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                    <div *ngIf="f.district.errors.required">District  is required</div>
                  </div>
                </div>
               
                <div  *ngIf="!editdata" class="form-group col-md-6">
                  <label class="control-label">{{'Select Taluk'| translate}} :</label>
                  <select class="slectbox" formControlName="taluk" class="form-control width" placeholder="Choose showFirstLastButtons"
                    [ngClass]="{ 'is-invalid': submitted && f.taluk.errors }" (change)="loadPanchayat($event)" >
                    <option value="" disabled selected>{{'Choose Taluk' | translate}}..</option>
                    <option *ngFor="let data of taluk_list" [value]="data.name">{{data.name}}</option>
                    <!-- <option value="Anekal">{{ 'Anekal' |translate}}</option>
                    <option value="Bangalore North">{{ 'Bangalore North' |translate}}</option>
                    <option value="Bangalore South">{{ 'Bangalore South' |translate}}</option>
                    <option value="Bangalore East">{{ 'Bangalore East' |translate}}</option> -->
                  </select>
                  <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                    <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                  </div>
                </div>

                <div *ngIf="editdata" class="form-group col-md-6">
                  <label class="control-label">{{'Select Taluk'| translate}}</label>

                  <input type="text" value="talukname" formControlName="taluk"  class="form-control width" 
                  [ngClass]="{ 'is-invalid': submitted && f.ward.errors }"    readonly>
                </div>

                <div *ngIf="!editdata" class="form-group col-md-6">
                  <label class="control-label">{{'Select Ward'| translate}} :</label>
                  <select class="slectbox" formControlName="ward" class="form-control width" placeholder="Choose showFirstLastButtons"
                    [ngClass]="{ 'is-invalid': submitted && f.ward.errors }" (change)="upDatepin($event)">
                    <option value="" disabled selected>{{'Choose Ward' | translate}}..</option>
                     <option *ngFor="let warddata of ward_list" [value]="warddata.name">{{ warddata.name}}</option>

                    <!-- <option value="Anekal">{{ 'Anekal' |translate}}</option>
                    <option value="Bangalore North">{{ 'Bangalore North' |translate}}</option>
                    <option value="Bangalore South">{{ 'Bangalore South' |translate}}</option>
                    <option value="Bangalore East">{{ 'Bangalore East' |translate}}</option> -->

                  </select>
                  <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                    <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                  </div>
                </div>

                <div *ngIf="editdata" class="form-group col-md-6">
                  <label class="control-label">{{'Select Ward'| translate}}</label>

                  <input type="text" value="wardname" formControlName="ward"  class="form-control width" 
                  [ngClass]="{ 'is-invalid': submitted && f.ward.errors }"    readonly>
                </div>
              
               
              

                <div class="form-group col-md-4">
                  <label class="control-label">{{'PIN code'| translate}}</label>
                  <input type="text" formControlName="pincode"  class="form-control" 
                   [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"    maxlength="06"(keypress)="numberOnly($event)">
                  <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback" >
                    <div *ngIf="f.pincode.errors.required">Pin code is required</div>
                  </div>
                </div>


                <!-- <div class="form-group col-md-6">
                  <label class="control-label">{{'Select State'| translate}}</label>
                  <select class="slectbox" formControlName="state" class="form-control width" placeholder="Choose showFirstLastButtons"
                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                    <option value="" disabled selected>{{'Choose State' | translate}}..</option>
                    <option value="Karnataka">{{ 'Karnataka' |translate}}</option>
                    <option value="Kerala">{{ 'Kerala' |translate}}</option>
                    <option value="Tamilnadu">{{ 'Tamilnadu' |translate}}</option>
                  </select>
                  <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">State  is required</div>
                  </div>
                </div> -->
                <hr />
                <button type="submit" class="btn btn-primary btn-round mr-2">{{'Submit'| translate}}</button>
                <button type="button" [routerLink]="['/department']" class="btn btn-default btn-round btn-simple">{{'Cancel'|
                  translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>