<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header">
      <font size="5"> <span></span><strong>{{'Meeting Request Details'|translate}}</strong> </font>
      </div>
    </div>
    <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
      <button class="card-blue btn-style1 badge_danger">
        {{'back'|translate}}
      </button>
    </div>
  </div>
</div>
<div class="table-container mat-elevation-z2 ">
  <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Subject'|translate}} : </strong>
    {{this.meeting_list.subject}}</p>
  <p style="padding-left:16px;"><strong>{{'Reason for meet'|translate}} : </strong>
    {{this.meeting_list.reason_for_meet}}</p>
  <!-- <p style="padding-left:16px;"><strong>{{'Date of meeting'|translate}} :</strong>
    {{this.meeting_list.day_of_meeting | date : "dd-MM-yyyy"}}</p>
  <p style="padding-left:16px;"><strong>{{'Time of meeting'|translate}} :</strong>
    {{this.meeting_list.time_of_meet}}</p>
  <p style="padding-left:16px;"><strong>{{'Duration of meeting'|translate}} :</strong>
    {{this.meeting_list.meeting_duration}}</p> -->
  <div style="padding-left:16px;">
    <h6><u><strong>
          {{'Meeting requested by'|translate}} :
      </strong></u></h6>
  </div>

  <p style="padding-left:16px;"><strong>{{'Name'|translate}} :</strong>
    {{this.meeting_list.requester_name}}</p>
  <p style="padding-left:16px;"><strong>{{'Contact No'|translate}} :</strong>
    {{this.meeting_list.requester_contact_number}}</p>

  <p style="padding-left:16px;"><strong>{{'Mail-Id'|translate}} : </strong>
    {{this.meeting_list.requester_mail_id}}</p>

    <p style="padding-left:16px;"><strong>{{'Gender'|translate}} :</strong>
      {{this.meeting_list.gender}}</p>
      <p style="padding-left:16px;"><strong>{{'Date of Birth'|translate}} :</strong>
       {{this.meeting_list.dob}}</p>
       <p style="padding-left:16px;"><strong>{{'Age'|translate}} :</strong>
         {{this.meeting_list.age}}</p>
         <p style="padding-left:16px;"><strong>{{'Address'|translate}} :</strong>
           {{this.meeting_list.address}}</p>
  <br>
</div>