<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">

    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of Meeting Requests' | translate}}</strong> </h2>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
                <button (click)="onopenHandled()" class="card-blue btn-style1 badge_danger">
                  {{'Filter' | translate}}
                </button>
                <button *ngIf="datatable" style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
                  {{'Export to Excel' | translate}}
                </button>
                <button *ngIf="filtertable" style="margin:5px;" (click)="exceldatafilterimport()" class="card-blue btn-style1 badge_danger">
                  {{'Export to Excel ' | translate}}
                </button>
              </div>
            </div>
<div>
              <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r" style="float: right;">
                  <input type="text" (keyup)="applyFilter($event.target.value)"
                  class="form-control input-radius  inputs-size mb-md-2" placeholder="{{'Search'|translate}}" />
</div>
</div>


<div  *ngIf="filterformenable">
    <mat-card class="filterform">
  
      <h4> {{'Filter Meeting Request' | translate }} </h4>
      <form [formGroup]="filterform" (ngSubmit)="meetingfilter()">
        <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
          <div class="body">
            <div class="row">
              <div class="form-group col-md-4">
                <label>{{ 'Select Status    ' |translate}} : </label>
                <select class="datepicker" formControlName="is_active" placeholder="Choose showFirstLastButtons" style="padding-left: 48px; "
                  [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                
                  <option value="" disabled selected>Choose Status..</option>
  
                
                  <option value="true">{{ 'Active Projects' |translate}}</option>
                    <option value="false">{{ 'Deactive Projects' |translate}}</option>
  
                </select>
                <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                  <div *ngIf="f.is_active.errors.required">Status is required</div>
                </div>
              </div>

             
              <div class="form-group col-md-4">
                <label  class="control-label" >Meeting Scheduled  From Date
                    <input type="date" formControlName="meeting_start_date"  >

                </label>
                <div >
                </div>
                <div *ngIf="submitted && f.meeting_start_date.errors" class="invalid-feedback">
                  <div *ngIf="f.meeting_start_date.errors.required">Status is required</div>
                </div>
              </div>

              <div class="form-group col-md-4">
                  <label  class="control-label" >Meeting Scheduled  To Date
                      <input type="date" formControlName="meeting_end_date"  >

                  </label>
                  <div >
                  </div>
                  <div *ngIf="submitted && f.meeting_end_date.errors" class="invalid-feedback">
                    <div *ngIf="f.meeting_end_date.errors.required">To date is required</div>
                  </div>
                </div>
            </div>
  
              <div>
                <button type="submit" class="btn btn-primary btn-round mr-2"> {{'Submit' | translate}}</button>
                <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                  {{'Close' | translate}}
                </button>
              </div>
          </div>
        </div>
  
      </form>
    </mat-card>
  </div> 




 <div style="display:none" #tablefilterloadedvalue>
    <table  [style.display]="hideElement?'none':'inherit'" mat-table [dataSource]="filterdataSource" matSort class="mat-elevation-z8">
  
      <!-- slno Column -->
      <p>dsadsadsasd</p>
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> {{'Sl. No.' | translate}}  </th>
        <td mat-cell *matCellDef="let meetings; let i = index" (click)="onView(meetings.meeting_request_id)"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> {{'Subject' | translate}}  </th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)">  {{ meetings.subject }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="reason_for_meet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Meeting reason' | translate}} </th>
        <!-- <td mat-cell *matCellDef="let meetings"> {{(meetings.reason_for_meet.length>25)?(meetings.reason_for_meet|slice:0:25)+'..':(meetings.reason_for_meet)}} </td> -->
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{ meetings.reason_for_meet }}</td>
      
      </ng-container>
  
  
      <!-- organization_name Column -->
      <ng-container matColumnDef="day_of_meeting">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Date of meeting' | translate}}</th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.day_of_meeting | date : "dd-MM-yyyy"}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="meeting_duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Duration'| translate}}</th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)" > {{meetings.meeting_duration}} </td>
      </ng-container> -->
      <ng-container matColumnDef="time_of_meet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Time'| translate}}</th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.time_of_meet}} </td>
      </ng-container>
  

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Address'| translate}}</th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.address}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedexcelColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedexcelColumns;" ></tr>
    </table>
   </div>
  


 <div style="display:none" #tableloadedvalue>
  <table  [style.display]="hideElement?'none':'inherit'" mat-table [dataSource]="exceldata" matSort class="mat-elevation-z8">

    <!-- slno Column -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> {{'Sl. No.' | translate}}  </th>
      <td mat-cell *matCellDef="let meetings; let i = index" (click)="onView(meetings.meeting_request_id)"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> {{'Subject' | translate}}  </th>
      <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)">  {{ meetings.subject }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="reason_for_meet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Meeting reason' | translate}} </th>
      <!-- <td mat-cell *matCellDef="let meetings"> {{(meetings.reason_for_meet.length>25)?(meetings.reason_for_meet|slice:0:25)+'..':(meetings.reason_for_meet)}} </td> -->
      <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{ meetings.reason_for_meet }}</td>
    
    </ng-container>


    <!-- organization_name Column -->
    <ng-container matColumnDef="day_of_meeting">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Day of Meeting' | translate}}</th>
      <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.day_of_meeting | date : "dd-MM-yyyy"}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="meeting_duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Duration'| translate}}</th>
      <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)" > {{meetings.meeting_duration}} </td>
    </ng-container> -->
    <!-- <ng-container matColumnDef="time_of_meet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Time'| translate}}</th>
      <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.time_of_meet}} </td>
    </ng-container> -->

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Address'| translate}}</th>
      <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.address}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedexcelColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedexcelColumns;" ></tr>
  </table>
 </div>


              
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- slno Column -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> {{'Sl. No.' | translate}}  </th>
        <td mat-cell *matCellDef="let meetings; let i = index" (click)="onView(meetings.meeting_request_id)"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> {{'Subject' | translate}}  </th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)">  {{ (meetings.subject.length>25)? (meetings.subject | slice:0:25)+'..':(meetings.subject) }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="reason_for_meet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Meeting reason' | translate}} </th>
        <!-- <td mat-cell *matCellDef="let meetings"> {{(meetings.reason_for_meet.length>25)?(meetings.reason_for_meet|slice:0:25)+'..':(meetings.reason_for_meet)}} </td> -->
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{ (meetings.reason_for_meet.length>25)? (meetings.reason_for_meet | slice:0:25)+'..':(meetings.reason_for_meet) }}</td>
      
      </ng-container>


      <!-- organization_name Column -->
      <ng-container matColumnDef="day_of_meeting">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Date' | translate}}</th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.day_of_meeting | date : "dd-MM-yyyy"}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="meeting_duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Duration'| translate}}</th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)" > {{meetings.meeting_duration}} </td>
      </ng-container> -->
      <!-- <ng-container matColumnDef="time_of_meet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Time'| translate}}</th>
        <td mat-cell *matCellDef="let meetings" (click)="onView(meetings.meeting_request_id)"> {{meetings.time_of_meet}} </td>
      </ng-container> -->




      <!-- action Column -->
  <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{'Action'| translate}} </th>
        <td mat-cell *matCellDef="let meetings">

          <button *ngIf="meetings.is_active == true" (click)="reject(meetings.meeting_request_id,false)"
          class="card-blue btn-style1 btn-size badge_info ">{{'Reject'|translate}}</button>
          <button *ngIf="meetings.is_active == false" (click)="reject(meetings.meeting_request_id,true)"
          class="card-blue btn-style1 btn-size badge_info">{{'Accept'|translate}}</button>            <button class="card-blue btn-style1 btn-size  badge_warning"
            (click)="onView(meetings.meeting_request_id)">{{'View'|translate}}</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
  <mat-paginator #paginator [pageSize]="7" [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
</div>
</div>
