@import '../signup/signup.component.css';

.form-radio {
    .mat-radio-label {
        cursor: pointer;
    }
   
}

.hover-forgot {
    color: #a0a0a0 !important;
    margin-top: 3px;
    font-size: 15px;
}

.hover-forgot:hover {
    border-bottom: 1px solid;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

    &:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.profile_image {
    margin: 10rem auto;
   
 }

 .mla_profile {
    width: 300px;
    padding: 20px;
 }
