.btn-round{
    border-width: 1px;
    border-radius: 30px !important;
    padding: 5px 15px;
}

.btn-primary {
    // background: #00cfd1;
    border: 2px solid #00cfd1;
}

.btn-danger {
    border: 2px solid #FF0000;
}

.btn-primary:hover {
    background: #00cfd1;
    border: 1px solid #00cfd1;
}

.btn:focus{
    box-shadow:none;
}

.btn-primary:not(:disabled):not(.disabled):active{
    background: #00cfd1;
    border: 1px solid #00cfd1;
}

.btn.btn-simple {
    color: #888;
    border-color: #888;
}

.btn {
    font-size: 15px;
}

.view-btn {
    position: absolute;
    content: normal;
    right: 5px;
    float: right;
    bottom: 10px;
    line-height: 0;
    padding: 8px;
    border-radius: 20px;
    background: transparent;
    font-weight: 800;
    font-size: 12px;
    color: #f64672 !important;
}

.btn-round:focus {
    background: #00cfd1;
    border: 1px solid #00cfd1;
    color: #ffffff;
}

.boxs-close {
    position: relative;
    margin: -10px -20px;
}

.btn-position {
    position: absolute;
    right: 0;
    bottom: 0rem;
    z-index: 99;
    margin: 30px;
    // background: #c04bda;
    // border: 1px solid #c04bda;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

// sweet alert

.swal-button{
    width: 4rem;
    padding: 5px;
    border-radius: 0;
}


.form-group {
    .mat-icon-button {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}