.header {
    color: #424242;
    padding: 10px 5px 20px;
    position: relative;
    box-shadow: none;
    h2 {
        font-size: 18px;
        color: #757575;
        position: relative;

        strong {
            color: #00cfd1;
        }

    }
    small {
        font-size: 13px;
        color: #9e9e9e;
        line-height: 15px;
    }
    .header-dropdown{
        position: absolute;
        top: 14px;
        right: 20px;
        list-style: none;
    }
}

//.header h2:before {
//    background: #00cfd1;
//}

.card .header h2::before {
    position: absolute;
    width: 2px;
    height: 20px;
    left: -15px;
    top: 0;
    content: '';
}


.form-control {
    font-size: 14.9px;
}

.inputs-size{
    max-width: 15rem;
    float: right;
}

.invalid-feedback{
    margin: 0 6px;
}

.p-search {
    position: absolute;
    right: 9px;
}



// choose image

    #pic {
        display: none;
    }

    .form-file {
        cursor: pointer;
    }

    #blah{
        max-width: 19rem;
        width: 19rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


  // select box
  .ng-select .ng-select-container {
    border-radius: 20px;
  }
  .ng-select .ng-has-value .ng-placeholder {
    content: "";
    ::after {
        display: none;
    }
  }


select {
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
select:focus {
    outline: none;
}



// image

.chat-data {
    padding: 10px 15px;
    position: relative;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    transition: 0.2s ease;
    box-shadow: 0px 0px 2.9px 0px rgba(0, 0, 0, 0.15);
    .user-img {
        height: 35px;
        width: 35px;
        float: left;
        margin-right: 15px;
    }
   .user-data {
        float: left;

    }
    .status.away {
        background: #f8b32d;
    }
    .status {
        border: 2px solid #fff;
        border-radius: 50%;
        height: 10px;
        position: absolute;
        left: 40px;
        top: 37px;
        width: 10px;
    }
    .clearfix {
        overflow: hidden;
        clear: both;
        float: none;
    }
    .block {
        display: block !important;
    }
    .capitalize-font {
        text-transform: capitalize !important;
    }
     .time {
        font-size: 12px;
        margin-top: 2px;
        width: 165px;
    }
    .truncate {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}





.form-radio {
    // .mat-radio-label {
    //     margin-left: 1.8rem;
    // }
    // .mat-radio-button.mat-accent .mat-radio-inner-circle , .mat-radio-inner-circle{
    //     display: none;
    // }

    .mat-radio-button {
        padding: 0 14px;
    }

    .mat-radio-outer-circle {
        box-sizing: border-box;
        height: 26px;
        left: 0;
        position: absolute;
        top: -3px;
        transition: border-color ease 280ms;
        width: 80px;
        border-width: 2px;
        border-style: solid;
        border-radius: 50rem;
    }
    .mat-radio-label-content{
        padding-left: 0px
    }

.mt-24{
    margin-top: 24px;
}

.card {

    .card-img-top {
      border-top-right-radius: calc(.25rem - 1px);
      border-top-left-radius: calc(.25rem - 1px);
    }
    .card-block {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
    }

    h3 {
      line-height: 30px;
      font-size: 21px;
    }

    .btn-rounded.btn-md {
      padding: 8px 28px;
      color: #fff;
    }

    .m-t-20 {
      margin-top: 20px;
    }
    }

    .little-profile .pro-img img {
      width: 128px;
      height: 128px;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
    }

    .little-profile .pro-img {
      margin-top: -80px;
      margin-bottom: 20px;
    }
  }
  .card-form{
    position: absolute;
    padding: 10px;
    width: 39rem;
    z-index: 333;
    top: 8rem;
    margin: auto;
    right: 217px;
  }
.otpheader{
  font-size: 11.8px;
    color: gray;
}



// DOB INPUT BOX

.mat-input-element .mat-form-field-autofill-control .cdk-text-field-autofill-monitored .form-control .input-radius .ng-pristine .ng-invalid .ng-touched , .cdk-text-field-autofill-monitored:not(:-webkit-autofill){
    border: 1px solid #ced4da;
    padding: 13px;
}

.mat-datepicker-content .mat-calendar {
    width: auto!important;
}



// view page

.container-v {
    background: #00000012;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
