html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

@import '~bootstrap/dist/css/bootstrap.min.css';

.main-container {
    position: absolute;
    top: 64px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.space {
    margin-top: 4rem;
}


   .card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }


    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .row{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .block-header {
        padding: 20px;
        color: #fff;
        content: '';
        position: absolute;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        height: 130px!important;
        background-color: #01d8da!important;

        h4 {
            font-size: 20px;
            margin-bottom: 0;
        }

        .breadcrumb a {
            color: #fff;
        }
        .breadcrumb {
            list-style: none;
            padding: 0.55rem 0.91rem;
            background: #4ee4e5;
            border-radius: 3.25rem;
            font-size: 14px;
            margin-bottom: 0px;
        }
    }




.btn-style {
    width: 15%;
    border-radius: 0px;
    padding: 0.48rem 5px;
    margin: 7px 3px;
    font-size: small;
    font-weight: 500;
    box-shadow: 0px 2px 8px rgba(75, 72, 72, 0.1);
    transition: all 0.4s ease;
    transition: all 0.4s ease;
    :active, :focus {
        border: none!important;
    }
    .material-icons {
        font-size: 16px;
        align-items: center;
    }
}

.btn-style1 {
    padding: .25rem .5rem!important;
    font-size: .875rem;
    border-radius: 20px !important;
}

.btn-size {
    min-width: 70px;
    font-size: 11px;
    font-weight: 600;
    margin: 2px;
}

.badge_success{
  border: 1.2px solid #18ce0f;
  color: #18ce0f;
  background: #fff;
}


.badge_warning{
  border: 1.2px solid #FFB236;
    color: #FFB236;
  background: #fff;

}

.badge_info{
  border: 1.2px solid #03A9F4;
        color: #03A9F4;
  background: #fff;

}

.badge_info1{
  border: 1.2px solid #c3122a;
//   color: #c3122a;
  background: #fff;

}
.badge_danger{
        border: 1.2px solid #f4033e;
        color: #f4033e;
        background: #fff;
}
.input-radius{
    border-radius: 20px;
}
.mb-25{
    margin-bottom:25px
}


.user-list {
    img{
        min-width: 55px;
        height: 55px;
    }
    .text {
        font-size: 18px;
        padding: 10px;
        margin-bottom: -10px;
    }
    .sub-text {
        padding: 0 12px;
        font-size: 14px;
        color: #9e9e9e;
        margin-bottom: 0px;
    }
}


.users-list{
    .card {
        border-radius: 0;
        border: 0.1px solid #f3f3f3;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
        margin-bottom: 0px;
    }
    .card:hover{
        background: #e6e6e6;

    }

}



// side container

.fullcontainer {
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 350px;
    right: 0;
    overflow: auto;
}


.specialties li {
    padding-left: 20px;
    display: flex;
}
.calender_display{
    display: contents;
}

.h-150{
    height: 114px;
}

.info{
    margin-top: 15px;
    
}