@media screen and (max-width: 992px) {
    .main-container {
        left: 0px;
        top: 56px;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        #sidebar {
            left: 0 !important;
        }
    }
}

@media only screen and (max-width: 768px) { 
.space {
    margin-top: 5rem;
    display: list-item!important;
}

.p-search{
    position: inherit!important;
}
.t-span {
    margin-top: 0rem!important;
}

.sm-r {
    margin-top: -36px!important;
}

.inputs-size {
    margin: 10px auto;
    max-width: 100%!important;
    float: none!important;
}


}
