
@media(max-width: 768px){
table.mat-table{
    display: block;
    width: 100%;
    overflow: auto;
}
}

table {
    width: 100%;
}
.mat-card {
    text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mb-20 {
    margin-bottom: 0px;
}
.p-15{
    padding: 10px 0;
}


// table border 

.mat-table, th, td {
    border: 1px solid #6a757d08;
    padding: 8px 20px !important;
}
td.mat-cell {
    border-bottom-color:#6a757d08!important;
    // width: 20rem;
}

.mat-table {
    thead {
        background: #07294a !important
    }
    th {
        font-size: 15px;
        font-weight: 600;
        color: #f3f3f3;
        
    }
    .table-w {
        width: 15rem!important;
    } 
}



.mat-sort-header-arrow {
    color: #ffffff;
}


.table-response {
    width: 100%;
    overflow: auto;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

tr.mat-row:hover {
    background: #f3f3f3;
}

.mat-cell {
    font-size: 14px;
    font-weight: 400;
}


.t-span{
    margin-top: 3rem;
}
