.profile-header {
    position: relative;
    .body {
        font-size: 14px;
        color: #424242;
        padding: 20px;
        font-weight: 400;
    }
   .profile-image img {
        border-radius: 50%;
        width: 135px;
        height: 135px;
        border: 3px solid #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin-bottom: 20px;
    }
    p {
        line-height: 1.61em;
    }
}

.list-unstyled {
    p {
        line-height: 1.61em;
    }
    strong {
        font-weight: bolder;
    }
}
