.datepicker{
    display: block;
    margin: 6px;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding-bottom: -24px;
    padding-left: 30px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-width: 2.3px;
}