<div class="container-fluid">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card">
        <div class="header">

          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Edit Project Details'|translate}}</strong> </font>
              </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button *ngIf="this.details.is_active == true" (click)="onDelete(this.details.project_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
              <button *ngIf="this.details.is_active == false" (click)="onDelete(this.details.project_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>



              <button style="margin: 8px;" class="card-blue btn-style1 badge_danger" (click)="backClicked()">
                {{'back'|translate}}
              </button>






            </div>



          </div>
        </div>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-md-4">
            <label>{{'Project Title'|translate}} : </label>
            <input type="text" formControlName="project_title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.project_title.errors }">
            <div *ngIf="submitted && f.project_title.errors" class="invalid-feedback">
              <div *ngIf="f.project_title.errors.required">project title is required</div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>{{'Project Description'|translate}} : </label>
            <input type="text" formControlName="project_description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.project_description.errors }">
            <div *ngIf="submitted && f.project_description.errors" class="invalid-feedback">
              <div *ngIf="f.project_description.errors.required">Provide project description</div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>{{'Project Status'|translate}} : </label>
            <!-- <label for="status">Status</label> -->
            <select class="form-control" name="project_status" (change)="status_changes($event)">
                <option *ngFor="let item of project_status_list" [value]="item.value"> {{item.viewValue|translate}}
                  </option>
              <!-- <option value="completed" [selected]="details.project_status ==completed">Completd</option>
              <option value="ongoing" [selected]="details.project_status ==ongoing">Ongoing</option> -->
            </select>
            <!-- <option *ngFor="let statusvalue of details" [value]="statusvalue.project_status">{{statusvalue.project_status}}</option> -->
            <!-- <input type="text" formControlName="project_status" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.project_status.errors }"> -->
            <div *ngIf="submitted && f.project_status.errors" class="invalid-feedback">
              <div *ngIf="f.project_status.errors.required">Provide status required</div>
            </div>
          </div>


          <!-- <div>
        <h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

</div> -->
          <!-- <div class="form-group col-md-4">
    <label>{{ 'Select Meeting Scheduled' |translate}} : </label>
    <label  class="control-label" >Registration Starts On
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </label>
    <div >
    <input matInput [matDatepicker]="picker" formControlName="project_start_date"  class="datepicker"   (click)="picker.open()">
    </div>
    <div *ngIf="submitted && f.project_start_date.errors" class="invalid-feedback">
      <div *ngIf="f.project_start_date.errors.required">Status is required</div>
    </div>
  </div> -->
  <div class="form-group col-md-4">
      <label>{{'Project Start Date'|translate}} : </label>
      <input type="date" formControlName="project_start_date" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.project_start_date.errors }">
      <div *ngIf="submitted && f.project_start_date.errors" class="invalid-feedback">
        <div *ngIf="f.project_start_date.errors.required">project start date is required</div>
      </div>
    </div>


    <div class="form-group col-md-4">
        <label>{{'Project End Date'|translate}} : </label>
        <input type="date" formControlName="project_end_date" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.project_end_date.errors }">
        <div *ngIf="submitted && f.project_end_date.errors" class="invalid-feedback">
          <div *ngIf="f.project_end_date.errors.required">project end date is required</div>
        </div>
      </div>

          <!-- <div class="form-group">
            <label> {{'Project Start date '|translate}} : </label>

            <input value="{{ date_start_date | date: 'yyyy-MM-dd' }} " type="date" name="project_start_date" />

           
            <div *ngIf="submitted && f.project_start_date.errors" class="invalid-feedback">
              <div *ngIf="f.project_start_date.errors.required">Start date is required</div>

            </div>
          </div> -->


          <!-- <div class="form-group col-md-4">
            <label class="control-label">{{'Project Start Date'|translate}}</label>
                <input type="date" formControlName="project_start_date"  >
                <div *ngIf="submitted && f.project_start_date.errors" class="invalid-feedback">
                    <div *ngIf="f.project_start_date.errors.required">Start date is required</div>
                  </div>
          </div> -->


          <!-- <div class="form-group col-md-4">
            <label class="control-label">{{'Project End Date'|translate}}</label>
            <input type="date" formControlName="project_end_date">
            <div *ngIf="submitted && f.project_end_date.errors" class="invalid-feedback">
              <div *ngIf="f.project_end_date.errors.required">End date is required</div>
            </div>
          </div> -->


          <!-- <div class="form-group">
            <label>{{'Project End date'|translate}} : </label>
            <textarea rows="2" formControlName="project_end_date" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.project_end_date.errors }"></textarea>
            <div *ngIf="submitted && f.project_end_date.errors" class="invalid-feedback">
            </div>
          </div> -->


          <div class="col-sm-4">
            <div class="form-group">
              <input type="file" id="file" multiple (change)="getFileDetails($event)">
              <div *ngIf="afterchange==false">
              <img  class="img-size"  style=" width: 350px;" *ngFor='let url of urls' [src]="url"> <br /></div>
              <div *ngIf="afterchange==true" >
              <img class="img-size" style=" width: 350px;"  *ngFor='let url of urldata' [src]="url"> <br /></div>

            </div>
            
          </div>


          <!-- <div class="form-group">
            <label class="form-file">
              <img id="blah" src="{{this.uploadimage}}" style="width:200px;height:200px" onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'">
              <input type="file" id="pic" class="pis" (change)="fileChange($event)" #fileInput accept="Image/*">
            </label>
          </div> -->
          <hr>
          <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-round mr-2" >{{'Save'|translate}}</button>
            <button type="submit" class="btn btn-default btn-round btn-simple" [routerLink]="['/viewproject']">{{'Cancel'|translate}}</button>
          </div>
        </form>


        <!-- [disabled]="!updateForm.valid" -->
      </div>
    </div>
  </div>
</div>