<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header">
        <font size="5"> <span></span><strong>{{'Department Details'|translate}}</strong> </font>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
      <button *ngIf="this.deptdata.is_active == true" (click)="onDelete(this.deptdata.department_contact_id, false)"
        class="card-blue btn-style1 btn-size badge_info" style="background:#ffffdd7a">{{'Deactivate'|translate}}</button>
      <button *ngIf="this.deptdata.is_active == false" (click)="onDelete(this.deptdata.department_contact_id, true)"
        class="card-blue btn-style1 btn-size badge_info" style="background:#ffffdd7a">{{'Activate'|translate}}</button>

      <button style="margin: 8px;" (click)="onEdit()" class="card-blue btn-style1 badge_danger">
        {{'Edit Department'|translate}}
      </button>

      <button style="margin: 8px;" class="card-blue btn-style1 badge_danger" (click)="backClicked()">
        {{'back'|translate}}
      </button>







    </div>

  </div>
</div>
<div class="table-container mat-elevation-z2 ">
  <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Department Type'|translate}} :</strong>
    {{deptdata.department}}</p>
  <p style="padding-left:16px;"><strong>{{'Email'|translate}} :</strong>
    {{deptdata.email}}</p>
  <p style="padding-left:16px;"><strong>{{'Phone Number'|translate}} :</strong>
    {{deptdata.phone_number}}</p>
  <p style="padding-left:16px;"><strong>{{'Alternative Number'|translate}} :</strong>
    {{deptdata.alternative_number}}</p>
  <p style="padding-left:16px;"><strong>{{'Contact Person'|translate}} :</strong>
    {{deptdata.contact_person}}</p>
  <p style="padding-left:16px;"><strong>{{'Address'|translate}} :</strong>
    {{deptdata.address}}</p>
    <p style="padding-left:16px;"><strong>{{'Pin'|translate}} :</strong>
      {{deptdata.pin}}</p>
  <p style="padding-left:16px;"><strong>{{'Ward'|translate}} :</strong>
    {{deptdata.panchayath_ward}}</p>
  <p style="padding-left:16px;"><strong>{{'Taluk'|translate}} :</strong>
    {{deptdata.taluk}}</p>
  <p style="padding-left:16px;"><strong>{{'District'|translate}} :</strong>
    {{deptdata.district}}</p>
    <!-- <p style="padding-left:16px;"><strong>{{'State'|translate}} :</strong>
      {{deptdata.state}}</p> -->
  <br>

</div>