<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">
    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of Events' | translate }}</strong> </h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
            <button  (click)="onopenHandled()" class="card-blue btn-style1 badge_danger">
                {{'Filter' | translate}}
              </button>
         
          <button  style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button>
          <button [routerLink]="['/addevent']" class="card-blue btn-style1 badge_danger">
            {{'Add Event'|translate}}
          </button>
        </div>
      </div>




      <div *ngIf="filterformenable">
          <mat-card class="filterform">
        
            <h4 style="padding-bottom: 9px;"> {{'Filter Events' | translate }} </h4>
            <form [formGroup]="filterform" (ngSubmit)="events_filter()">
              <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div class="body">
                  <div class="row">
                      <div class="form-group col-md-4">
                          <label  class="control-label" >Event Scheduled  From Date
                              <input type="date" formControlName="event_start_date"  >
          
                          </label>
                          <div >
                          </div>
                          <div *ngIf="submitted && f.event_start_date.errors" class="invalid-feedback">
                            <div *ngIf="f.event_start_date.errors.required">From date is required</div>
                          </div>
                        </div>
          
                        <div class="form-group col-md-4">
                            <label  class="control-label" >Event Scheduled  To Date
                                <input type="date" formControlName="event_end_date"  >
          
                            </label>
                            <div >
                            </div>
                            <div *ngIf="submitted && f.event_end_date.errors" class="invalid-feedback">
                              <div *ngIf="f.event_end_date.errors.required">To date is required</div>
                            </div>
                          </div>
                  </div>
        
                    <div>
                      <button type="submit" class="btn btn-primary btn-round mr-2"> {{'Submit' | translate}}</button>
                      <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                        {{'Close' | translate}}
                      </button>
                    </div>
                </div>
              </div>
        
            </form>
          </mat-card>
        </div>
        <div style="display:none" #tableloadedvalue>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef> {{'Sl. No.'| translate}} </th>
              <td mat-cell *matCellDef="let events; let i = index" (click)="onView(events.event_id)"> {{i+1}}
              </td>
            </ng-container>
            <ng-container matColumnDef="event_start_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Start Date'| translate}} </th>
              <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
                {{events.event_start_date}}
              </td>
            </ng-container>
            <ng-container matColumnDef="event_end_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'End Date'| translate}}</th>
              <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
                  {{events.event_end_date}}
                </ng-container> 
            <ng-container matColumnDef="event_title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Title'| translate}} </th>
              <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
                {{events.event_title}}
              </td>
            </ng-container>
            <ng-container matColumnDef="event_description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Description'| translate}} </th>
              <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
                {{events.event_description}}
              </td>
            </ng-container>
            <ng-container matColumnDef="events_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Event Status'| translate}} </th>
              <td mat-cell *matCellDef="let events" >
                <p *ngIf="events.is_active == true" >{{'Active'|translate}}</p>
                    <p *ngIf="events.is_active == false" >{{'Deactive'|translate}}</p>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedExcelColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedExcelColumns;"></tr>
          </table>
        </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th>
          <td mat-cell *matCellDef="let events; let i = index" (click)="onView(events.event_id)"> {{i+1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="event_start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Start Date'| translate}} </th>
          <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
            {{events.event_start_date| date:'dd- MM-yyyy'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="event_end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'End Date'| translate}}</th>
          <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
              {{events.event_end_date| date:'dd- MM-yyyy'}}
            </ng-container> 
        <ng-container matColumnDef="event_title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Title'| translate}} </th>
          <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
            {{(events.event_title.length>20)?(events.event_title|slice:0:20)+'..':(events.event_title)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="event_description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Description'| translate}} </th>
          <td mat-cell *matCellDef="let events" (click)="onView(events.event_id)">
            {{(events.event_description.length>20)?(events.event_description|slice:0:20)+'..':(events.event_description)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="events_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Event Status'| translate}} </th>
          <td mat-cell *matCellDef="let events" >
            <p *ngIf="events.is_active == true" >{{'Active'|translate}}</p>
                <p *ngIf="events.is_active == false" >{{'Deactive'|translate}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let events">
                <button class="card-blue  btn-style1 btn-size badge_success"
                        (click)="onEdit(events.event_id)">{{'Edit'|translate}}</button>
                <button *ngIf="events.is_active == true" (click)="onDelete(events.event_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
                <button *ngIf="events.is_active == false" (click)="onDelete(events.event_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
  
  </div>