<div class="container-fluid">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card">
        <div class="header">
          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Edit Event Details'|translate}}</strong> </font>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button *ngIf="this.details.is_active == 'true'" (click)="onDelete(this.details.event_id, false)"
                class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
              <button *ngIf="this.details.is_active == 'false'" (click)="onDelete(this.details.event_id, true)"
                class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
              <button style="margin: 8px;" class="card-blue btn-style1 badge_danger" (click)="backClicked()">
                {{'back'|translate}}
              </button>
            </div>
          </div>
        </div>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-md-4">
            <label>{{'Event Title'|translate}} : </label>
            <input type="text" formControlName="event_title" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.event_title.errors }">
            <div *ngIf="submitted && f.event_title.errors" class="invalid-feedback">
              <div *ngIf="f.event_title.errors.required">event title is required</div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>{{'Event Description'|translate}} : </label>
            <input type="text" formControlName="event_description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.event_description.errors }">
            <div *ngIf="submitted && f.event_description.errors" class="invalid-feedback">
              <div *ngIf="f.event_description.errors.required">event description is required</div>
            </div>
          </div>
          <!-- <div>
            <input type="date">
          </div> -->

          <div class="form-group col-md-4">
            <label>{{'Event Start Date'|translate}} : </label>
            <input type="date" formControlName="event_start_date" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.event_start_date.errors }">
            <div *ngIf="submitted && f.event_start_date.errors" class="invalid-feedback">
              <div *ngIf="f.event_start_date.errors.required">event start date is required</div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>{{'Event End Date'|translate}} : </label>
            <input type="date" formControlName="event_end_date" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.event_end_date.errors }">
          </div>


          <!-- <div class="form-group col-md-4">
            <label>{{'Event Start Date'|translate}}
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </label>
            <div>
              <input matInput [matDatepicker]="picker" formControlName="event_start_date" class="datepicker"
                (click)="picker.open() " [ngClass]="{ 'is-invalid': submitted && f.event_start_date.errors }">
            </div>
          </div> -->
          <!-- <div class="form-group col-md-4">
            <label class="control-label">{{'Event End Date'|translate}}
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </label>
            <div>
              <input matInput [matDatepicker]="picker2" formControlName="event_end_date" class="datepicker"
                (click)="picker2.open() " [ngClass]="{ 'is-invalid': submitted && f.event_end_date.errors }">
            </div>
          </div> -->
          <div class="form-group col-md-4">
            <label>{{'Contact Person'|translate}} : </label>
            <input type="text" formControlName="contact_person_name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.contact_person_name.errors }">
          </div>
          <div class="form-group col-md-4">
            <label>{{'Contact Number'|translate}} : </label>
            <input type="text" formControlName="contact_person_num" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.contact_person_num.errors }">
          </div>
          <div class="form-group col-md-4">
            <label>{{'Taluk'|translate}} : </label>
            <input type="text" formControlName="taluk" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.taluk.errors }">
          </div>

          <div class="form-group col-md-4">
            <label>{{'District'|translate}} : </label>
            <input type="text" formControlName="district" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
          </div>
          <!-- <div class="form-group">
            <label class="form-file">
              <img id="blah" src="{{this.uploadimage}}" style="width:200px;height:200px"
                onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'">
              <input type="file" id="pic" class="pis" (change)="fileChange($event)" #fileInput accept="Image/*">
            </label>
          </div> -->

          <div class="col-sm-4">
            <div class="form-group">
              <input type="file" id="file" multiple (change)="getFileDetails($event)">
              <div *ngIf="afterchange==false">
              <img  class="img-size"  style=" width: 350px;" *ngFor='let url of urls' [src]="url"> <br /></div>
              <div *ngIf="afterchange==true" >
              <img class="img-size" style=" width: 350px;"  *ngFor='let url of urldata' [src]="url"> <br /></div>

            </div>
            
          </div>
          <hr>
          <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-round mr-2">{{'Save'|translate}}</button>
            <button type="submit" class="btn btn-default btn-round btn-simple"
              [routerLink]="['/viewevent']">{{'Cancel'|translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>