@import '~@angular/material/theming';

:host .mat-card-header-text {
    width: 100%;
    text-align: right;
}

.icon-lg {
    font-size: 40px;
}

.d-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}
.mat-icon{
    width: auto ;
    height: auto;
}

.mat-card {
    color: #6c757d;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

    .mat-card-header {
        width: 100%;
    }
    .mat-card-title {
        font-size: 2em !important;
    }
    .mat-card-subtitle {
        color: #6c757d;
    }

    .mat-card-actions {
        a {
            text-decoration: none;
            cursor: pointer;
            color: #6c757d;
        }
    }
}

.mat-card.danger {
    background: linear-gradient(60deg, #ec407a, #d81b60);
}

.mat-card.warn {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.mat-card.success {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.mat-card.info {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
