<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header">
        <font size="5"> <span></span><strong>{{'Grievance Details'|translate}}</strong> </font>
      </div>
    </div>
    <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
      <button class="card-blue btn-style1 badge_danger">
        {{'back'|translate}}
      </button>
    </div>
  </div>
</div>


<div class="table-container mat-elevation-z2 ">
  <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Grievance Description'|translate}} :</strong>
    {{this.complaints_list.complaint_description}}</p>
  <p style="padding-left:16px;"><strong>{{'Grievance Category'|translate}} :</strong>
    {{this.complaints_list.complaint_category}}</p>
  <p style="padding-left:16px;"><strong>{{'Grievance Registered On'|translate}} :</strong>
    {{this.complaints_list.day_of_complaint}}</p>



  <p style="padding-left:16px;"><strong>{{'Grievance Status'|translate}} :</strong>
    <select style="cursor: pointer; width: 80px;border-radius: 95px;;border: 1.2px solid#9c271c; color:#9c271c; background: #fff; text-align-last: center;"
      [(ngModel)]="complaints_list.complaint_status" name="complaints_list.complaint_status" (change)="updateStatus($event)">
      <option *ngFor="let item of complaintstatuslist;" [value]="item.value"> {{item.viewValue|translate}}
      </option>
    </select>
    <!-- <select  style="border-radius: 95px; background: #fff; text-align-last: center;"   [(ngModel)]="selectedvalue" formControlName="status"
                (change)="updateStatus($event)" >
                <option *ngFor="let item of complaintstatuslist;" [value]="item.value"> {{item.viewValue|translate}}
                </option> -->
    <!-- <option selected="true" value="0">Open </option>
                <option selected="true" value="3">Process </option>
                <option selected="true" value="2">Completed </option>
                <option selected="true" value="1">Irrelevant </option> -->


    <!-- </select> -->
    <span class="status_change required-field"> Provide reason for change of grievance status in the status description
      box</span>

  </p>
  <form [formGroup]="complaintform" (ngSubmit)="onSubmit()">
    <!-- <p style="padding-left:16px;"><strong>{{'Status Description'|translate}} :</strong>
                <textarea  style="vertical-align: top; width: 50%;
                "  >  </textarea>
            </p> -->
    <p style="padding-left:16px;"><strong>{{'Status Description'|translate}} :</strong>
      <textarea formControlName="description" style="vertical-align: top; width: 50%;">{{this.complaints_list.status_description}}</textarea></p>
    <div style="padding-left:16px;padding-top: 16px">
      <h6><u><strong>{{'Complaint location details'|translate}} : </strong></u></h6>
      <div class="row">
        <div class="col-sm-6">
          <p style="padding-left:16px;"><strong>{{'Street'|translate}} :</strong>
            {{this.complaints_list.street_name}}</p>
          <p style="padding-left:16px;"><strong>{{'Place'|translate}} :</strong>
            {{this.complaints_list.place_name}}</p>
          <p style="padding-left:16px;"><strong>{{'Town'|translate}} :</strong>
            {{this.complaints_list.town_panchayat}}</p>
        </div>
        <div class="col-sm-6">
          <p style="padding-left:16px;"><strong>{{'Village'|translate}} :</strong>
            {{this.complaints_list.village_panchayat}}</p>
          <p style="padding-left:16px;"><strong>{{'Taluk'|translate}} :</strong>
            {{this.complaints_list.taluk}}</p>
        </div>
      </div>
    </div>
    <div style="padding-left:16px;padding-top: 16px">
      <h6><u><strong>{{'Grievance Given by'|translate}} : </strong></u></h6>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p style="padding-left:16px;"><strong>{{'Name'|translate}} :</strong>
          {{this.complaints_list.first_name}} {{this.complaints_list.father_name}} {{this.complaints_list.last_name}}</p>
        <p style="padding-left:16px;"><strong>{{'Contact No'|translate}} :</strong>
          {{this.complaints_list.user_contact_no}}</p>
        <p style="padding-left:16px;"><strong>{{'Mail-Id'|translate}} :</strong>
          {{this.complaints_list.user_mail_id}}</p>
        <p style="padding-left:16px;"><strong>{{'Gender'|translate}} :</strong>
          {{this.complaints_list.gender}}</p>
      </div>
      <div class="col-sm-6">
        <p style="padding-left:16px;"><strong>{{'Date of Birth'|translate}} :</strong>
          {{this.complaints_list.dob}}</p>
        <p style="padding-left:16px;"><strong>{{'Age'|translate}} :</strong>
          {{this.complaints_list.age}}</p>
        <p style="padding-left:16px;"><strong>{{'Address'|translate}} :</strong>
          {{this.complaints_list.address}}</p>
      </div>
    </div>
    <br>
    <div>
      <table>
        <tr>
          <td *ngFor="let image of this.complaints_list.complaint_images" style="padding: 40px;">
            <img onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'" style=" width:153px;" src="{{image}}"></td>
        </tr>
      </table>


      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
        (mapClick)="mapClicked($event)">

        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
          [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

          <agm-info-window>
            <strong>InfoWindow content</strong>
          </agm-info-window>

        </agm-marker>

        <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true"
          [editable]="true">
        </agm-circle>

      </agm-map>
      <div style="padding-left: 10px;">
        <button type="submit" class="btn btn-primary btn-round mr-2">
          {{'Save'|translate}}
        </button>

        <button type="submit" class="btn btn-default btn-round btn-simple" [routerLink]="['/complaints']">{{'Cancel'|translate}}</button>
      </div>
    </div>
  </form>
  <!-- </form> -->
</div>