.example-full-width {
    width: 100%;
  }
 .status_change{
    color: #03A9F4;
    padding-left: 60px;
  }
  
  
  agm-map {
    height: 300px !important;
    width: 100%;  /* This is really important*/
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
  agm-map {
    height: 300px;
  }