<div class="header">
    <div class="row form-inline">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="header">
        <font size="5"> <span></span><strong>{{'Project Details'|translate}}</strong> </font>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
        <button *ngIf="this.project_data.is_active == true" (click)="onDelete(this.project_data.project_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
        <button *ngIf="this.project_data.is_active == false" (click)="onDelete(this.project_data.project_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
    
          <button style="margin: 8px;" [routerLink]="['/editproject']" class="card-blue btn-style1 badge_danger">
            {{'Edit Project'|translate}}
          </button>

            <button style="margin: 8px;"class="card-blue btn-style1 badge_danger" (click)="backClicked()">
              {{'back'|translate}}
            </button>

        
        
        
        
         
        
      </div>
      
    </div>
  </div>
  <div class="table-container mat-elevation-z2 ">
    <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Project Title'|translate}} :</strong>
      {{this.project_data.project_title}}</p>
    <p style="padding-left:16px;"><strong>{{'Project Description'|translate}} :</strong>
      {{this.project_data.project_description}}</p>
    <p style="padding-left:16px;"><strong>{{'Project Start Date'|translate}} :</strong>
      {{this.project_data.project_start_date | date:'dd- MM-yyyy'}}</p>
      <p style="padding-left:16px;"><strong>{{'Project End Date'|translate}} :</strong>
        {{this.project_data.project_end_date | date:'dd- MM-yyyy'}}</p>
        <p style="padding-left:16px;"><strong>{{'Project Status'|translate}} :</strong>
          {{this.project_data.project_status}}</p>
    
   
   
      <br>
    <div>
      <table>
        <tr>
          <td *ngFor="let image of this.project_data.project_images" style="padding: 40px;">
            <img onError="this.onerror=null;this.src='assets/images/project.jpeg'" style=" width:153px;height: 140px"
              src="{{image}}"></td>
        </tr>
      </table>
    </div>
  </div>