.b-padding {
    margin: 3rem;
}
.s{
    .b-padding {      
            margin: 25px 4rem;
    }
}

h2 {
    font-size: 25px;
}
.card .header h2::before {
    height: 30px;
}

.brand img {
    max-width: 13rem;
}

.brand {
    position: relative;
    display: block;
    margin: 20px 0; 
}

.h {
    height: calc(100vh + 70px);
}

 @media only screen and (max-width: 700px) { 
    .image {
        display: none;
    }
    .b-padding {
        margin: 4rem 1rem;
           }
    .s{
        .b-padding {      
            margin: 4rem 1rem;
        }
    }
    .h {
       display: none;
    }
 }

 .image {
     background-image: url(/assets/images/events.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
  }

  .overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: #00b3a480;
    /* background-color: #01d8da */
  }
