<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 h">
      <div class="image overlay"></div>
    </div>
    <div class="col-md-4">
      <div class="b-padding">
        <div class="brand ">
          <font color=#01d8da>
            <h2 align="center">Events</h2>
          </font>
          <div class="header m-t-40 text-center">
            <small>Singup to continue</small>
          </div>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="my-login-validation m-t-20">
          <div class="form-group">
            <input type="text" placeholder="Username" formControlName="username" class="form-control input-radius" (keyup)="trimValue($event)"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <div style="position:relative">
              <input type="{{type}}" formControlName="password" placeholder="Password" class="form-control input-radius"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" style="padding-right: 60px;">

              <div class="btn-sm" (click)="toggleShow()"
                style="position: absolute; right: 10px; top: 7px; padding: 0px 2px; font-size: 0px; cursor: pointer;">
                <mat-icon>visibility</mat-icon>
              </div>

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
          </div>
         
        
          <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-block input-radius">
              Register
            </button>
          </div>
          <div class="header text-center m-t-20">
            <small> Already have an account? </small><a [routerLink]="['/login']"> Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

