<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">
    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of Grievances'| translate}} </strong></h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
          <button (click)="onopenHandled()" class="card-blue btn-style1 badge_danger">
            {{'Filter' | translate}}
          </button>
          <button *ngIf="datatable" style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
            {{'Export to Excel' | translate}}
          </button>
          <button *ngIf="filtertable" style="margin:5px;" (click)="exceldatafilterimport()" class="card-blue btn-style1 badge_danger">
            {{'Export to Excel' | translate}}
          </button>
        </div>
      </div>
      <div>
        <div>
          <input type="text" (keyup)="applyFilter($event.target.value)" class="form-control input-radius  inputs-size mb-md-2"
            placeholder="{{'Search'|translate}}" />
        </div>
      </div>
      <div>
      </div>

      <!-- filter model -->

      <div *ngIf="filterformenable">
        <mat-card class="filterform">

          <h4> {{'Filter Grievances' | translate }} </h4>
          <form [formGroup]="filterform" (ngSubmit)="complaintfilter()">
            <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
              <div class="body">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>{{ 'Select Status' |translate}} : </label>
                    <!-- <input type="text" formControlName="close_status" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                          <div *ngIf="submitted && f.close_status.errors" class="invalid-feedback">
                            <div *ngIf="f.close_status.errors.required">Filter is required</div>
                          </div> -->


                    <select class="slectbox" formControlName="close_status" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>Choose Complaint Status..</option>

                      <option value="0">{{ 'Open' |translate}}</option>
                      <option value="2">{{ 'Completed' |translate}}</option>
                      <option value="3">{{ 'In Process' |translate}}</option>
                      <option value="1">{{ 'Irrelevant' |translate}}</option>

                    </select>
                    <div *ngIf="submitted && f.close_status.errors" class="invalid-feedback">
                      <div *ngIf="f.close_status.errors.required">Status is required</div>
                    </div>
                  </div>


                  <div class="form-group col-md-4">
                    <label>{{ 'Select Category' |translate}} : </label>
                    <!-- <input type="text" formControlName="close_status" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                            <div *ngIf="submitted && f.close_status.errors" class="invalid-feedback">
                              <div *ngIf="f.close_status.errors.required">Filter is required</div>
                            </div> -->


                    <select class="slectbox" formControlName="complaint_category" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <!-- <option value="0">{{ 'Open' |translate}}</option> -->
                      <option value="" disabled selected>Choose Category..</option>

                      <option *ngFor="let category of category_list;" [value]="category.category_name">
                        {{category.category_name|translate}}
                      </option>
                      <!-- <option value="2">{{ 'Completed' |translate}}</option>
                        <option value="3">{{ 'In Process' |translate}}</option>
                        <option value="1">{{ 'Irrelevant' |translate}}</option> -->

                    </select>
                    <div *ngIf="submitted && f.complaint_category.errors" class="invalid-feedback">
                      <div *ngIf="f.complaint_category.errors.required">Category is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label>{{ 'Select Taluk' |translate}} : </label>
                    <!-- <input type="text" formControlName="close_status" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                              <div *ngIf="submitted && f.close_status.errors" class="invalid-feedback">
                                <div *ngIf="f.close_status.errors.required">Filter is required</div>
                              </div> -->


                    <select class="slectbox" formControlName="taluk" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                      <option value="" disabled selected>Choose Taluk..</option>

                      <option value="Aravakurichi">{{'Aravakurichi'}}</option>
                      <option value="Karur">{{'Karur'}}</option>
                      <option value="Krishnarayapuram	">{{'Krishnarayapuram'}}</option>
                      <option value="Kulithalai">{{'Kulithalai'}}</option>

                    </select>
                    <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                      <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label>{{ 'Select Town Panchayat' |translate}} : </label>

                    <select class="slectbox" formControlName="town_panchayat" placeholder="Choose showFirstLastButtons"
                      [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      <option value="" disabled selected>Choose  Town Panchayat..</option>

                      <option value="TNPL Pugalur">{{ 'TNPL Pugalur'}}</option>
                      <option value="Pallapatti">{{ 'Pallapatti' }}</option>
                      <option value="Puliyur">{{ 'Puliyur' }}</option>
                      <option value="Punjaipugalur">{{ 'Punjaipugalur'}}</option>
                      <option value="Aravakurichi">{{ 'Aravakurichi'}}</option>
                      <option value="Marudur">{{ 'Marudur'}}</option>
                      <option value="Nangavaram">{{ 'Nangavaram'}}</option>
                      <option value="Punjai Thottakurichi">{{ 'Punjai Thottakurichi'}}</option>
                      <option value="Uppidamangalam">{{ 'Uppidamangalam'}}</option>
                      <option value="Krishnarayapuram">{{ 'Krishnarayapuram'}}</option>
                      <option value="P.J. Cholapuram">{{ 'P.J. Cholapuram'}}</option>



                    </select>
                    <div *ngIf="submitted && f.town_panchayat.errors" class="invalid-feedback">
                      <div *ngIf="f.town_panchayat.errors.required">Category is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label>{{ 'Give Village Panchayat' |translate}} : </label>
                      <input class="slectbox" type="text" formControlName="village_panchayat">
                      <div *ngIf="submitted && f.village_panchayat.errors" class="invalid-feedback">
                        <div *ngIf="f.village_panchayat.errors.required">Category is required</div>
                    </div>
                  </div>


                  <div class="form-group col-md-4">
                    <label>{{ 'Give Ward Number' |translate}} :</label>

                    <input class="slectbox" type="text" formControlName="ward_no">

                    <div *ngIf="submitted && f.ward_no.errors" class="invalid-feedback">
                      <div *ngIf="f.ward_no.errors.required">Ward number is required</div>
                    </div>
                  </div>
                </div>

                  <div>
                    <button type="submit" class="btn btn-primary btn-round mr-2"> {{'Submit' | translate}}</button>
                    <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                      {{'Close' | translate}}
                    </button>
                  </div>
              </div>
            </div>

          </form>
        </mat-card>
      </div>
      <div style="display:none" #tableloadedvalue>
        <table [style.display]="hideElement?'none':'inherit'" mat-table [dataSource]="exceldata" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'SL. No.'| translate}} </th>
            <td mat-cell *matCellDef="let complaints; let i = index" (click)="onView(complaints.complaint_id)"> {{i+1}}
            </td>
          </ng-container>
          <ng-container matColumnDef="day_of_complaint">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Day of Grievance'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.created_at | date:'dd- MM-yyyy' : 'UTC'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="complaint_category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Category'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.complaint_category}}
            </td>
          </ng-container>

          <ng-container matColumnDef="complaint_description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Description'| translate}}</th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.complaint_description}}
            </td>
          </ng-container>

          <ng-container matColumnDef="street_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Street'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.street_name}}
            </td>

          </ng-container>

          <ng-container matColumnDef="village">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Village'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.village_panchayat}}
            </td>
          </ng-container>
          <ng-container matColumnDef="place_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Place'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.place_name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="taluk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Taluk'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.taluk}}
            </td>
          </ng-container>

          <ng-container matColumnDef="ward_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Ward Number'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.ward_no}}
            </td>
          </ng-container>

          <ng-container matColumnDef="complaint_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Grievance status'| translate}} </th>
            <tr>
              <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
                <p *ngIf="complaints.complaint_status=='1'">Irrelevant</p>
                <p *ngIf="complaints.complaint_status=='0'">Open</p>
                <p *ngIf="complaints.complaint_status=='3'">In Process</p>
                <p *ngIf="complaints.complaint_status=='2'">Completed</p>

              </td>
            </tr>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="excelColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: excelColumns;"></tr>
        </table>

      </div>


      <div style="display:none" #tablefilterloadedvalue>
        <table [style.display]="hideElement?'none':'inherit'" mat-table [dataSource]="filterdataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'SL. No.'| translate}} </th>
            <td mat-cell *matCellDef="let complaints; let i = index" (click)="onView(complaints.complaint_id)"> {{i+1}}
            </td>
          </ng-container>
          <ng-container matColumnDef="day_of_complaint">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Day of Grievance'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.created_at | date:'dd- MM-yyyy' : 'UTC'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="complaint_category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Category'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.complaint_category}}
            </td>
          </ng-container>

          <ng-container matColumnDef="complaint_description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Description'| translate}}</th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.complaint_description}}
            </td>
          </ng-container>

          <ng-container matColumnDef="street_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Street'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.street_name}}
            </td>

          </ng-container>

          <ng-container matColumnDef="village">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Village'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.village_panchayat}}
            </td>
          </ng-container>
          <ng-container matColumnDef="place_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Place'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.place_name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="taluk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Taluk'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.taluk}}
            </td>
          </ng-container>

          <ng-container matColumnDef="ward_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Ward Number'| translate}} </th>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              {{complaints.ward_no}}
            </td>
          </ng-container>

          <ng-container matColumnDef="complaint_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Grievance status'| translate}} </th>
            <tr>
              <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
                <p *ngIf="complaints.complaint_status=='1'">Irrelevant</p>
                <p *ngIf="complaints.complaint_status=='0'">Open</p>
                <p *ngIf="complaints.complaint_status=='3'">In Process</p>
                <p *ngIf="complaints.complaint_status=='2'">Completed</p>

              </td>
            </tr>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="excelColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: excelColumns;"></tr>
        </table>

      </div>


      <!-- display table -->
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="cursor: pointer;">
        <!-- <div *ngFor="let viewstatus of complaint_status_viewvalue" > -->

        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> {{'SL. No.'| translate}} </th>
          <td mat-cell *matCellDef="let complaints; let i = index" (click)="onView(complaints.complaint_id)"> {{i+1}}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="day_of_complaint">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Day of complaint'| translate}} </th>
    <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
      {{complaints.day_of_complaint}}
    </td>
  </ng-container> -->
        <ng-container matColumnDef="day_of_complaint">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Day of Grievance'| translate}} </th>
          <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
            {{complaints.created_at | date:'dd- MM-yyyy' : 'UTC'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="complaint_category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Category'| translate}} </th>
          <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
            {{complaints.complaint_category}}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="ward_no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Ward No'| translate}} </th>
    <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
      {{complaints.ward_no}}
    </td>
  </ng-container> -->
        <ng-container matColumnDef="complaint_description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Description'| translate}}</th>
          <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
            {{(complaints.complaint_description.length>25)?(complaints.complaint_description|slice:0:25)+'..':(complaints.complaint_description)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="street_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Street'| translate}} </th>
          <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
            {{complaints.street_name}}
          </td>

        </ng-container>
        <ng-container matColumnDef="place_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Place'| translate}} </th>
          <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
            {{complaints.place_name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="taluk">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Taluk'| translate}} </th>
          <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
            {{complaints.taluk}}
          </td>
        </ng-container>

        <ng-container matColumnDef="complaint_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Grievance status'| translate}} </th>
          <tr>
            <td mat-cell *matCellDef="let complaints" (click)="onView(complaints.complaint_id)">
              <p *ngIf="complaints.complaint_status=='1'">Irrelevant</p>
              <p *ngIf="complaints.complaint_status=='0'">Open</p>
              <p *ngIf="complaints.complaint_status=='3'">In Process</p>
              <p *ngIf="complaints.complaint_status=='2'">Completed</p>

            </td>
          </tr>
        </ng-container>
        <!-- </div> -->

        <!-- <ng-container matColumnDef="complaint_status">
    <th mat-header-cell *matHeaderCellDef> {{'Complaint Status'| translate}}</th>
    <td mat-cell *matCellDef="let complaints">
      <select
        style="cursor: pointer; width: 75px;border-radius: 95px;border: 1.2px solid#9c271c; color:#9c271c; background: #fff; text-align-last: center;"
        [(ngModel)]="complaints.complaint_status" name="complaints.complaint_status"
        (change)="updateStatus(complaints.complaint_id,$event)">
        <option *ngFor="let item of complaintstatuslist;" [value]="item.value"> {{item.viewValue|translate}}
        </option>
      </select> -->
        <!-- <button class="card-blue btn-style1 btn-size badge_warning"
        (click)="onView(complaints.complaint_id)">{{'View'|translate}}</button> -->
        <!-- </td>
  </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- </div> -->

      </table>
      <mat-paginator #paginator [pageSize]="7" [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>




    </div>
  </div>
</div>