#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    z-index: 999;
    -ms-overflow-y: auto;
    overflow-y: auto;
    .mat-nav-list {
        width: 100%;
        a {
            .mat-icon {
                margin-right: 15px;
            }
            display: block;
        }
        .mat-list-item:hover {
                background: #278d27 !important;
                color:white;
              
        }
        .mat-list-item:focus {
            background: #278d27 !important;
            color:white;
           
        }
    }
}
g:focus,
g:hover {
    fill: #fff !important;
}

.nested-menu {
    .nested {
        list-style-type: none;
    }
    .submenu {
        display: none;
        height: 0;
    }
    & .expand {
        &.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            margin: 0;
            li {
                a {
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    #sidebar {
        left: -250px;
        z-index: 1000;
    }
}

.user-info {

    text-align: center;
    margin: 20px auto;

    .profile-image {
        max-width: 10rem;
        border-radius: 50rem;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        border: 2px solid #fff;
    }

    .detail {
        h4 {
            margin-bottom: 0;
        }
    }

}
