<div id="sidebar">
    <div class="user-info" (click)="viewprofile()">
        <img class="profile-image mb-2" src="assets/images/Yeddyurappa.jpg">
        <div class="detail">
            <h5 class="m-0">{{'Mr.B.S.Yeddyurappa'|translate}}</h5>
            <p style="font-size: 12px;">{{'Chief minister of Karnataka'| translate}}.</p>
        </div>
    </div>

    <mat-nav-list>



        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/complaints']">
            <mat-icon class="icon-lg" svgIcon="complaints"></mat-icon>{{'Grievance' | translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/department']">
            <mat-icon>account_balance</mat-icon>{{'Department' | translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/partyworker']">
                   <mat-icon>group_work</mat-icon>{{'Party Worker' | translate}}
        </a>


        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/projects']">
            <mat-icon class="icon-lg" svgIcon="achievement"></mat-icon>{{'Projects' | translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/news']">
            <mat-icon class="sidenav-icon">mail</mat-icon>{{'News'| translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/events']">
            <mat-icon class="icon-lg" >assignment</mat-icon>{{'Events' | translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/meetingrequests']">
            <mat-icon class="icon-lg" svgIcon="meeting"></mat-icon>{{'Meeting Requests' | translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/users']">
            <mat-icon class="sidenav-icon">group</mat-icon>{{'Users'| translate}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/banner_images']">
            <mat-icon>add_to_photos</mat-icon>{{'Banner Images'| translate}}
        </a>

    </mat-nav-list>
</div>
