<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">
    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of News' | translate }}</strong> </h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
            <button  (click)="onopenHandled()" class="card-blue btn-style1 badge_danger">
                {{'Filter' | translate}}
              </button>
         
          <button  style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button>
            <button style="margin:5px;" [routerLink]="['/addnews']" class="card-blue btn-style1 badge_danger">
              {{'Add News'|translate}}
            </button>
            <!-- <button *ngIf="filtertable" style="margin:5px;" (click)="exceldatafilterimport()" class="card-blue btn-style1 badge_danger">
              {{'Export to Excel' | translate}}
            </button> -->
        </div>
      </div>
      <div>
        <div>
        <input type="text" (keyup)="applyFilter($event.target.value)"
        class="form-control input-radius  inputs-size mb-md-2" placeholder="{{'Search'|translate}}" />
        </div>
      </div>


      <div *ngIf="filterformenable">
          <mat-card class="filterform">
        
            <h4 style="padding-bottom: 9px;"> {{'Filter News' | translate }} </h4>
            <form [formGroup]="filterform" (ngSubmit)="news_filter()">
              <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div class="body">
                  <div class="row">
                    <div class="form-group filterclass">
                        <label>{{ 'News category' |translate}} : </label>
                        <select class="datepicker slectcategory" formControlName="news_category" placeholder="Choose showFirstLastButtons"
                          [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                          <option value="" disabled selected>Choose news category..</option>
                            <option *ngFor="let name of news_category_list" value="{{name.news_category }}">
                                {{name.news_category }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.news_category.errors" class="invalid-feedback">
                          <div *ngIf="f.news_category.errors.required">News category is required</div>
                        </div>
                      </div>
                  </div>
        
                    <div>
                      <button type="submit" class="btn btn-primary btn-round mr-2"> {{'Submit' | translate}}</button>
                      <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                        {{'Close' | translate}}
                      </button>
                    </div>
                </div>
              </div>
        
            </form>
          </mat-card>
        </div>

        <div style="display:none" #tableloadedvalue>
            <table mat-table [dataSource]="excelData" matSort class="mat-elevation-z3">
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th> 
                <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.news_id)"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="news_title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'News Title' | translate}} </th>
                <td mat-cell *matCellDef="let row" (click)="onView(row.news_id)">
                  {{ (row.news_title.length>25)? (row.news_title | slice:0:25)+'..':(row.news_title) }}</td>
              </ng-container>
              <ng-container matColumnDef="news_reported_on">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'News Reportedon' | translate}}</th>
                  <td mat-cell *matCellDef="let row" (click)="onView(row.news_id)">
                    {{row.news_reported_on }}
                  </td>
                </ng-container>

              <ng-container matColumnDef="news_category">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'News Category' | translate}} </th>
                  <td mat-cell *matCellDef="let row" (click)="onView(row.news_id)">
                    {{ (row.news_title.length>25)? (row.news_title | slice:0:25)+'..':(row.news_category) }}</td>
                </ng-container>


              <ng-container matColumnDef="news_description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Description' | translate}}</th>
                <td mat-cell *matCellDef="let row" (click)="onView(row.news_id)">
                  {{(row.news_description.length>25)?(row.news_description | slice:0:25)+'..':(row.news_description) }}
                </td>
              </ng-container>
             
              <tr mat-header-row *matHeaderRowDef="displayedExcelColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedExcelColumns;"></tr>
            </table>
          </div>



      <div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th> 
            <td mat-cell *matCellDef="let row; let i = index" (click)="onView(row.news_id)"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="news_title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'News Title' | translate}} </th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.news_id)">
              {{ (row.news_title.length>25)? (row.news_title | slice:0:25)+'..':(row.news_title) }}</td>
          </ng-container>
          <ng-container matColumnDef="news_description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Description' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="onView(row.news_id)">
              {{(row.news_description.length>25)?(row.news_description | slice:0:25)+'..':(row.news_description) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="news_id">
            <mat-header-cell *matHeaderCellDef> News ID </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="onView(row.news_id)"> {{row.news_id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let row">
              <button class="card-blue  btn-style1 btn-size badge_success" (click)="onEdit(row.news_id)">{{'Edit'|translate}}</button>
              <button class="card-blue btn-style1 btn-size  badge_warning"
              (click)="onView(row.news_id)">{{'View'|translate}}</button>
              <!-- <button (click)="toggleMenu(row.news_id)"
                class="card-blue btn-style1 btn-size badge_warning">{{'View'|translate}}</button> -->
              <button *ngIf="row.is_active == true" (click)="onDelete(row.news_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
              <button *ngIf="row.is_active == false" (click)="onDelete(row.news_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 70]"></mat-paginator>
    </div>
    <div *ngIf="toggleenable" class="container-v" (click)="toggleclose()"></div>
    <div class="container fullcontainer card" [@slideInOut]="slideState">
      <div class="space"></div>
      <div class="header">
    <h2><strong style="color: black;">{{'News Details'|translate}}</strong> </h2>

      </div>
      <ul class="list-unstyled" *ngIf="toggleenable">
        <li>
          <label class="form-file">
            <img id="blah" src="{{newsdata.news_images}}" class="img-fluid"
              onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'">
          </label>
        </li>
        <li>
          <h5 class="mt-3">{{newsdata.news_title}}</h5>
        </li>

        <li>
          <small class="text-muted">{{'Description'|translate}}: </small>
          <p>{{newsdata.news_description}}</p>
        </li>
      </ul>
      <button type="button" (click)="toggleclose()" class="btn btn-primary btn-round mr-2 d-md-none">{{'Close'|translate}}</button>
    </div>