#blah{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50rem !important;
    margin-left: 5rem !important;

}
.filterclass{
    padding-left: 20px;

}
.slectcategory{
    width: 200px;
}
.mat-card {
    text-align: initial;
}