<mat-toolbar class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
     {{'Personal Diary'| translate }}
     <!-- <img style="height: 28px;padding:0 10px 4px 0;" src="assets/images/profile_image.png"/>{{'Politician - Application' | translate}} -->
    </div>
    <span class="nav-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="language">
        <mat-icon>language</mat-icon>
    </button>
    <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('en')">
            <span>{{ 'English'| translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('kn')">
            <span>{{ 'Kannada' | translate}}</span>
        </button>
        <!-- <button mat-menu-item (click)="changeLang('tl')">
            <span>{{ 'Tamil' | translate}}</span>
        </button> -->
    </mat-menu>
    <button mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>