#blah{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50rem !important;
    margin-left: 5rem !important;

}

.description{
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
