<div class="table-container mat-elevation-z2 ">
    <div class="data-table-container">
        <div class="card">
            <div class="row form-inline">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="header">
                        <h2><strong style="color: black;">{{'List of Achievements' | translate }}</strong> </h2>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
                    <button [routerLink]="['/addachievement']" class="card-blue btn-style1 badge_danger">
                        {{'Add Achievement' | translate}}
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" (keyup)="applyFilter($event.target.value)"
                        class="form-control input-radius  inputs-size mb-md-2" placeholder="{{'Search'|translate}}" />
                </div>
            </div>
            <div>
            </div>
            <div>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef> {{'S. No.'|translate}} </th>
                        <td mat-cell *matCellDef="let row; let i = index" (click)="toggleMenu(row.achievement_id)">
                            {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="achievement_title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Achievement Title' | translate}} </th>
                        <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.achievement_id)">
                            {{ (row.achievement_title.length>25)? (row.achievement_title | slice:0:25)+'..':(row.achievement_title) }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="achievement_short_description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Description'|translate}}</th>
                        <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.achievement_id)">
                            {{ (row.achievement_short_description.length>25)? (row.achievement_short_description | slice:0:25)+'..':(row.achievement_short_description) }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="achievement_duration">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Duration'|translate}}</th>
                        <td mat-cell *matCellDef="let row" (click)="toggleMenu(row.achievement_id)">
                            {{row.achievement_duration}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                        <td mat-cell *matCellDef="let row">
                            <button class="card-blue  btn-style1 btn-size badge_success"
                                (click)="onEdit(row.achievement_id)">{{'Edit'|translate}}</button>
                            <button (click)="toggleMenu(row.achievement_id)"
                                class="card-blue btn-style1 btn-size badge_warning">{{'View'|translate}}</button>
                            <button *ngIf="row.is_active == true" (click)="onDelete(row.achievement_id, false)"
                                class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
                            <button *ngIf="row.is_active == false" (click)="onDelete(row.achievement_id, true)"
                                class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 70]"></mat-paginator>
        </div>
        <div *ngIf="toggleenable" class="container-v" (click)="toggleclose()"></div>
        <div class="container fullcontainer card" [@slideInOut]="slideState">
            <div class="space"></div>
            <div class="header">
                <h2><strong style="color: black;">{{'Achievement Details'|translate}}</strong> </h2>
            </div>
            <ul class="list-unstyled" *ngIf="toggleenable">
                <li>
                    <label class="form-file">
                        <img id="blah" src="{{achievementdata.achievement_images}}" class="img-fluid"
                            onError="this.onerror=null;this.src='assets/images/smarthealth_bp.png'">
                    </label>
                </li>
                <li>
                    <h5 class="mt-3">{{achievementdata.achievement_title}}</h5>
                </li>
                <li>
                    <small class="text-muted">{{'Description'|translate}}: </small>
                    <p>{{achievementdata.achievement_description}}</p>
                </li>
            </ul>
            <button type="button" (click)="toggleclose()"
                class="btn btn-primary btn-round mr-2 d-md-none">{{'Close'|translate}}</button>
        </div>