<div class="container-fluid no-space">
  <div class="row">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div class="card ">
        <div class="header">
          <div class="row form-inline">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="header">
                <font size="5"> <span></span><strong>{{'Add'| translate}}</strong> {{'News'| translate}} </font>
              </div>
            </div>
            <div (click)="backClicked()" class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
              <button class="card-blue btn-style1 badge_danger">
                {{'back'| translate}}
              </button>
            </div>
          </div>
        </div>
        <form [formGroup]="addnewsform" (ngSubmit)="onSubmit()">
          <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
            <div class="body">
              <div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Title'| translate}}</label>
                  <input type="text" formControlName="news_title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.news_title.errors }">
                  <div *ngIf="submitted && f.news_title.errors" class="invalid-feedback">
                    <div *ngIf="f.news_title.errors.required">Title is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Reported On'| translate}}</label>
                  <input type="date" formControlName="news_reported_on">
                  <div *ngIf="submitted && f.news_reported_on.errors" class="invalid-feedback">
                    <div *ngIf="f.news_reported_on.errors.required">Reprted on is required</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">{{'Description'| translate}}</label>
                  <textarea rows="6" formControlName="news_description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.news_description.errors }"></textarea>
                  <div *ngIf="submitted && f.news_description.errors" class="invalid-feedback">
                    <div *ngIf="f.news_description.errors.required">Description is required</div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label class="control-label">{{'Select News category'| translate}}</label>
                  <select class="slectbox" formControlName="news_category" class="form-control" placeholder="Choose showFirstLastButtons"
                    [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                    <!-- <option value="null" selected>{{ 'Select Status' |translate}}</option>  -->
                    <option value="" disabled selected>{{'Choose News Category' | translate}}..</option>

                    <option value="department">{{ 'Department' |translate}}</option>
                    <option value="assembly">{{ 'Assembly' |translate}}</option>
                    <option value="media">{{ 'Media' |translate}}</option>
                    <option value="party">{{ 'Party' |translate}}</option>

                  </select>
                  <div *ngIf="submitted && f.news_category.errors" class="invalid-feedback">
                    <div *ngIf="f.news_category.errors.required">Description is required</div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <input type="file" id="file" multiple (change)="getFileDetails($event)">
                    <img class="img-size" style=" width: 350px;" *ngFor='let url of urls' [src]="url"> <br />
                  </div>
                </div>
                <hr />
                <button type="submit" class="btn btn-primary btn-round mr-2">{{'Submit'| translate}}</button>
                <button type="button" [routerLink]="['/news']" class="btn btn-default btn-round btn-simple">{{'Cancel'|
                  translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>