<div class="table-container mat-elevation-z2 ">
  <div class="data-table-container">
    <div class="card">
      <div class="row form-inline">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="header">
            <h2><strong style="color: black;">{{'List of Projects' | translate }}</strong> </h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
            <button  (click)="onopenHandled()" class="card-blue btn-style1 badge_danger">
                {{'Filter' | translate}}
              </button>
              <button  style="margin:5px;" (click)="exceldataimport()" class="card-blue btn-style1 badge_danger">
                  {{'Export to Excel' | translate}}
                </button>
          <button [routerLink]="['/addproject']" style="margin:5px;"  class="card-blue btn-style1 badge_danger">
            {{'Add Project'|translate}}
          </button>
          
        </div>
      </div>

      <div *ngIf="filterformenable">
          <mat-card class="filterform">
        
            <h4> {{'Filter Project' | translate }} </h4>
            <form [formGroup]="filterform" (ngSubmit)="projectfilter()">
              <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div class="body">
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label>{{ 'Select Status    ' |translate}} : </label>
                      <select class="datepicker" formControlName="is_active" placeholder="Choose showFirstLastButtons" style="padding-left: 48px; "
                        [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                      
                        <option value="" disabled selected>Choose Status..</option>
        
                      
                        <option value="true">{{ 'Active Projects' |translate}}</option>
                          <option value="false">{{ 'Deactive Projects' |translate}}</option>
        
                      </select>
                      <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                        <div *ngIf="f.is_active.errors.required">Status is required</div>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label>{{ 'Project Status' |translate}} : </label>
                        <select class="datepicker" formControlName="project_status" placeholder="Choose showFirstLastButtons"
                          [ngClass]="{ 'is-invalid': submitted && f.close_status.errors }">
                        
                          <option value="" disabled selected>Choose Project Status..</option>
          
                        
                          <option value="completed">{{ 'Completed Projects' |translate}}</option>
                            <option value="ongoing">{{ 'Ongoing Projects' |translate}}</option>
          
                        </select>
                        <div *ngIf="submitted && f.project_status.errors" class="invalid-feedback">
                          <div *ngIf="f.project_status.errors.required">Project Status is required</div>
                        </div>
                      </div>
        
        
                    <div class="form-group col-md-4">
                      <!-- <label>{{ 'Select Project Status' |translate}} : </label> -->
                      <label  class="control-label" >Projects Starts From
                          <input type="date" formControlName="project_start_date"  >

                      </label>
                      <div >
                      </div>
                      <div *ngIf="submitted && f.project_start_date.errors" class="invalid-feedback">
                        <div *ngIf="f.project_start_date.errors.required">Status is required</div>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                        <!-- <label>{{ 'Select Project Status' |translate}} : </label> -->
                        <label  class="control-label" >Projects Ends On
                            <input type="date" formControlName="project_end_date"  >
  
                        </label>
                        <div >
                        </div>
                        <div *ngIf="submitted && f.project_end_date.errors" class="invalid-feedback">
                          <div *ngIf="f.project_end_date.errors.required">Status is required</div>
                        </div>
                      </div>
                  </div>
        
                    <div>
                      <button type="submit" class="btn btn-primary btn-round mr-2"> {{'Submit' | translate}}</button>
                      <button type="button" class="btn btn-default btn-round btn-simple" (click)="onCloseHandled()">
                        {{'Close' | translate}}
                      </button>
                    </div>
                </div>
              </div>
        
            </form>
          </mat-card>
        </div>


<div  style="display:none" #tableloadedvalue>


    <table mat-table [dataSource]="excelData" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th>
          <td mat-cell *matCellDef="let projects; let i = index" (click)="onView(projects.project_id)"> {{i+1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Start Date'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{projects.project_start_date| date:'dd- MM-yyyy'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'End Date'| translate}}</th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
              {{projects.project_end_date| date:'dd- MM-yyyy' }}
            </ng-container>
             
                    
        <ng-container matColumnDef="project_title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Title'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{(projects.project_title.length>20)?(projects.project_title|slice:0:20)+'..':(projects.project_title)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Description'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{(projects.project_description.length>20)?(projects.project_description|slice:0:20)+'..':(projects.project_description)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Project Status'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{projects.project_status}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedExcelColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedExcelColumns;"></tr>
      </table>


</div>



      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> {{'S. No.'| translate}} </th>
          <td mat-cell *matCellDef="let projects; let i = index" (click)="onView(projects.project_id)"> {{i+1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Start Date'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{projects.project_start_date| date:'dd- MM-yyyy'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'End Date'| translate}}</th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
              {{projects.project_end_date| date:'dd- MM-yyyy' }}
            </ng-container>
             
                    
        <ng-container matColumnDef="project_title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Title'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{(projects.project_title.length>20)?(projects.project_title|slice:0:20)+'..':(projects.project_title)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Description'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{(projects.project_description.length>20)?(projects.project_description|slice:0:20)+'..':(projects.project_description)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="project_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Project Status'| translate}} </th>
          <td mat-cell *matCellDef="let projects" (click)="onView(projects.project_id)">
            {{projects.project_status}}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let projects">
                <button class="card-blue btn-style1 btn-size  badge_warning"
                (click)="onView(projects.project_id)">{{'View'|translate}}</button>
                
                <button class="card-blue  btn-style1 btn-size badge_success"
                        (click)="onEdit(projects.project_id)">{{'Edit'|translate}}</button>
                <button *ngIf="projects.is_active == true" (click)="onDelete(projects.project_id, false)" class="card-blue btn-style1 btn-size badge_info">{{'Deactivate'|translate}}</button>
                <button *ngIf="projects.is_active == false" (click)="onDelete(projects.project_id, true)" class="card-blue btn-style1 btn-size badge_info">{{'Activate'|translate}}</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
  
  </div>