<div class="header">
  <div class="row form-inline">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="header">
        <font size="5"> <span></span><strong>{{'Party Workers Details'|translate}}</strong> </font>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 text-right sm-r">
      <button  *ngIf="this.partyworker.is_active == true" (click)="onDelete(this.partyworker.party_worker_id, false)"
        class="card-blue btn-style1 btn-size badge_info" style="background:#FFD">{{'Deactivate'|translate}}</button>
      <button  *ngIf="this.partyworker.is_active == false" (click)="onDelete(this.partyworker.party_worker_id, true)"
        class="card-blue btn-style1 btn-size badge_info" style="background:#FFD">{{'Activate'|translate}}</button>

      <button style="margin: 8px;" (click)="onEdit()" class="card-blue btn-style1 badge_danger">
        {{'Edit Party Worker'|translate}}
      </button>

      <button style="margin: 8px;" class="card-blue btn-style1 badge_danger" (click)="backClicked()">
        {{'back'|translate}}
      </button>







    </div>

  </div>
</div>
<div class="table-container mat-elevation-z2 ">
  <p style="padding-left:16px; padding-top: 16px;"><strong>{{'Name'|translate}} :</strong>
    {{partyworker.name}}</p>
  <p style="padding-left:16px;"><strong>{{'Phone Number'|translate}} :</strong>
    {{partyworker.phone_number}}</p>

  <p style="padding-left:16px;"><strong>{{'Alternative Number'|translate}} :</strong>
    {{partyworker.alternative_number}}</p>
  <p style="padding-left:16px;"><strong>{{'Email'|translate}} :</strong>
    {{partyworker.email}}</p>

  <p style="padding-left:16px;"><strong>{{'Gender'|translate}} :</strong>
    {{partyworker.gender}}</p>
  <p style="padding-left:16px;"><strong>{{'DOB'|translate}} :</strong>
    {{partyworker.DOB }}</p>
  <p style="padding-left:16px;"><strong>{{'Worker Type'|translate}} :</strong>
    {{partyworker.party_worker_type}}</p>
  <p style="padding-left:16px;"><strong>{{'Panchayath / Ward'|translate}} :</strong>
    {{partyworker.panchayath_ward}}</p>
  <p style="padding-left:16px;"><strong>{{'Taluk'|translate}} :</strong>
    {{partyworker.taluk}}</p>
  <p style="padding-left:16px;"><strong>{{'District'|translate}} :</strong>
    {{partyworker.district}}</p>
    <p style="padding-left:16px;"><strong>{{'Pincode'|translate}} :</strong>
      {{partyworker.pin}}</p>
      <!-- <p style="padding-left:16px;"><strong>{{'State'|translate}} :</strong>
        {{partyworker.state}}</p> -->
  <br>

</div>